{% load static %}
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>SAI</title>
    <!-- CSS files -->
    <link href="{% static 'v5/dist/css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'v5/dist/css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'v5/dist/css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'v5/dist/css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'v5/dist/css/demo.min.css' %}" rel="stylesheet"/>
  </head>
  <body  class=" border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
      <div class="container-tight py-4">
        <div class="text-center mb-4">
              <p class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
              <!-- Download SVG icon from http://tabler-icons.io/i/letter-s -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 8a4 4 0 0 0 -4 -4h-2a4 4 0 0 0 0 8h2a4 4 0 0 1 0 8h-2a4 4 0 0 1 -4 -4" /></svg>
              <!-- Download SVG icon from http://tabler-icons.io/i/letter-a -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 20v-12a4 4 0 0 1 4 -4h2a4 4 0 0 1 4 4v12" /><line x1="7" y1="13" x2="17" y2="13" /></svg>
              <!-- Download SVG icon from http://tabler-icons.io/i/letter-i -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="4" x2="12" y2="20" /></svg>
            <sup><svg style="color: green;" xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 21c.5 -4.5 2.5 -8 7 -10" /><path d="M9 18c6.218 0 10.5 -3.288 11 -12v-2h-4.014c-9 0 -11.986 4 -12 9c0 1 0 3 2 5h3z" /></svg></sup>
          </p>

        </div>
        <form class="card card-md" method="post" role="form">
          {% csrf_token %}
          {% block content %}
          {% include 'usuarios/alerts.html' %}
          {% endblock %}
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Ingrese a su cuenta</h2>
            <div class="mb-3">
              <label class="form-label">Usuario</label>
              <input type="text" name="username" class="form-control">
            </div>
            <div class="mb-2">
              <label class="form-label">
                Contraseña
                <span class="form-label-description">
                  <a href="./forgot-password.html">Olvidé la contraseña</a>
                </span>
              </label>
              <div class="input-group input-group-flat">
                <input type="password" id="password" name="password" class="form-control" autocomplete="off">
                <span class="input-group-text">
                  <button class="btn btn-outline btn-sm" type="button" onclick="mostrarContrasena()">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                  </button>
                  <a href="mostrarContrasena()" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                  </a>
                </span>
              </div>
            </div>
            <div class="mb-2">
              <label class="form-check">
                <input type="checkbox" class="form-check-input"/>
                <span class="form-check-label">Recordar este dispositivo</span>
              </label>
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">Ingresar</button>
            </div>
          </div>
        </form>
        <div class="text-center text-muted mt-3">
          Version del sistema <a href="./sign-up.html" tabindex="-1">{{ version }}</a>
        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="{% static 'v5/dist/js/tabler.min.js' %}"></script>
    <script src="{% static 'v5/dist/js/demo.min.js' %}"></script>
  </body>
</html>
<script>
  function mostrarContrasena(){
      var tipo = document.getElementById("password");
      if(tipo.type == "password"){
          tipo.type = "text";
      }else{
          tipo.type = "password";
      }
  }
</script>