{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Sistema - Pagina no encontrada</title>
	<link href="{% static 'v3/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'v3/css/sb-admin-2.min.css' %}" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
</head>

<body>
                <div class="container-fluid">
                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="404">404</div>
                        <p class="lead text-gray-800 mb-5">¡Pagina no encontrada!</p>
                        <p class="text-gray-500 mb-0">Parece que encontraste un error en el sistema...</p>
                        <a href="{% url 'logout' %}">&larr; Volver a iniciar sesion</a>
                    </div>

                </div>
    <script src="{% static 'v3/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'v3/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'v3/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'v3/js/sb-admin-2.min.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
