{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}

{% endblock %}
{%block title %} <title>Modulo - MAUA</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}
<!-- Titulo -->
<div class="row">
     <div class="col-sm-6">
    </div>
     <div class="col-sm-6">
        {% for usuario in usuario %}
         <button onclick="window.location='{% url 'usuarios:perfilusuario' usuario.IdUsuario %}'" class="btn btn-primary btn-sm ml-auto float-right">Volver</button>
         {% endfor %}
    </div>
</div>

<div class="row text-center" style="margin-top: 1rem;">
    <div class="col-sm-6">
                           <div class="card shadow">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Lista de permisos asignados</h6>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Identificador</th>
                                                <th>Tipo de permiso</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for permiso in permisos %}
                                                <tr class="odd gradeX">
                                                    <td>{{ permiso.IdPermiso }}</td>
                                                    <td>{{ permiso.TipoPermiso }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
     
    </div>
    <div class="col-sm-6">
    

                            <div class="card shadow">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Asignar permisos de acceso al sistema</h6>
                                </div>
                                <div class="card-body">
                                  
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.non_field_errors }}
                                        {% for field in form %}
                                            <div class="form-group no-padding-t no-border-t panel-padding-h">
                                                {{ field.errors }}
                                                <label for="jq-validation-url" class="col-sm-12 control-label">
                                                    <strong>{{ field.label }}</strong>
                                                </label>
                                                <div class="col-sm-12">
                                                    {{ field }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <hr>
                                        
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary " style="width: 100%">Asignar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}