{% load static %}
	<!DOCTYPE html>

	<html class="gt-ie8 gt-ie9 not-ie">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="shortcut icon" href="{% static 'images/logopri.ico' %}">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

		<!-- Pixel Admin's stylesheets -->
		<link href="{% static 'stylesheets/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'stylesheets/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'stylesheets/pixel-admin.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'stylesheets/widgets.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'stylesheets/rtl.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'stylesheets/themes.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'stylesheets/pages.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'stylesheets/estilos.css' %}" rel="stylesheet" type="text/css">

		{% block styles %}
    {% endblock %}
    {%block title%}
    {%endblock%}
{% load humanize %}
	</head>

	<body class="theme-default main-menu-animated page-profile">

	<script>var init = [];</script>


	<div id="main-wrapper">


	<!-- 2. $MAIN_NAVIGATION ===========================================================================

		Main navigation
	-->
		<div id="main-navbar" class="navbar navbar-inverse" role="navigation">
			<!-- Main menu toggle -->
			<button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">MENU</span></button>
			
			<div class="navbar-inner">
				<!-- Main navbar header -->
				<div class="navbar-header">

					<!-- Logo --> 
					<div class="navbar-brand"><img alt="" src="{% static 'images/None.png' %}"></div>

					<!-- Main navbar toggle -->
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>

				</div> <!-- / .navbar-header -->

				<div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
					<div>
						<ul class="nav navbar-nav">
						
						</ul> 

						<div class="right clearfix">
						</div>
					</div>
				</div>
			</div>
		</div> 
	<!-- 4. MENU =================================================================================-->
		<div id="main-menu" role="navigation">
			<div id="main-menu-inner">
				<div class="menu-content top" id="menu-content-demo">
					<div class="row">
						<div style="padding-bottom: 1rem" class="col-sm-12">
							<img src="{% static 'images/perfil-3.png' %}" alt="" class="">
						</div>
						<div class="col-sm-12">

							<div class="text-bg"><span class="text-slim"></span> <span class="text-semibold">{{ user }}</span></div>
							<div class="btn-group">
								<a href="{% url 'usuarios:perfil' %}" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-cog"></i></a>
								<a href="{% url 'usuarios:mapa' %}" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-map-marker"></i></a>
								<a href="pages-500.html" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-refresh"></i></a>
							</div>
						</div>

						<a href="#" class="close">&times;</a>
					</div>
				</div>
				<ul class="navigation">
					<li>
						<a href="{% url 'usuarios:inicio' %}"><i class="menu-icon fa fa-home"></i><span class="mm-text">Inicio</span></a>
					</li>
					<li>
						<a href="{% url 'usuarios:busquedas' %}"><i class="menu-icon fa fa-search"></i><span class="mm-text">Busquedas</span></a>
					</li>		
					<li class="mm-dropdown">
						<a href="#"><i class="menu-icon fa fa-list-alt"></i><span class="mm-text">Listas</span></a>
						<ul>
							<li>
								<a tabindex="-1" href="{% url 'usuarios:listaviviendas' %}"><i class="menu-icon fa fa-home"></i><span class="mm-text">Predios</span></a>
							</li>
							<li>
								<a tabindex="-1" href="{% url 'usuarios:listapropietarios' %}"><i class="menu-icon fa fa-group"></i><span class="mm-text">Titulares</span></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="{% url 'usuarios:reporte' %}"><i class="menu-icon fa fa-bar-chart-o"></i><span class="mm-text">Reportes</span></a>
					</li>
					<li class="mm-dropdown">
						<a href="#"><i class="menu-icon fa fa-th-list"></i><span class="mm-text">Facturacion</span></a>
						<ul>
							<li>
								<a tabindex="-1" href="{% url 'usuarios:facturacion' %}"><i class="menu-icon fa fa-dollar"></i><span class="mm-text">Generador cobros</span></a>
							</li>
							<li>
								<a tabindex="-1" href="{% url 'usuarios:facturas' %}"><i class="menu-icon fa  fa-compress"></i><span class="mm-text">Cambio estado</span></a>
							</li>
							
							<li>
								<a tabindex="-1" href="{% url 'usuarios:generadorfacturas' %}"><i class="menu-icon fa fa-qrcode"></i><span class="mm-text">Generador facturas</span></a>
							</li>
							<li>
								<a tabindex="-1" href="{% url 'usuarios:anularfactura' %}"><i class="menu-icon fa  fa-minus-circle"></i><span class="mm-text">Anular factura</span></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="{% url 'usuarios:suspenciones' %}"><i class="menu-icon fa fa-warning"></i><span class="mm-text">Suspenciones/Reconexiones</span></a>
					</li>
					<li class="mm-dropdown">
						<a href="#"><i class="menu-icon fa fa-th-list"></i><span class="mm-text">Control Presupuestal</span></a>
						<ul>
							<li>
								<a tabindex="-1" href="{% url 'usuarios:controlpresupuestal' %}"><i class="menu-icon fa fa-dollar"></i><span class="mm-text">Control ingresos y gastos</span></a>
							</li>
							<li>
								<a tabindex="-1" href="{% url 'usuarios:cierrefinanciero' %}"><i class="menu-icon fa  fa-ticket"></i><span class="mm-text">Cierres financieros</span></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="{% url 'usuarios:listapqrs' %}"><i class="menu-icon fa fa-users"></i><span class="mm-text">Pqrs</span></a>
					</li>
					<li>
						<a href="{% url 'usuarios:V' %}"><i class="menu-icon fa fa-bug"></i><span class="mm-text">Nueva versión</span></a>
					</li>
				</ul>
				<div class="menu-content">
					<a href="{% url 'logout' %}" class="btn btn-primary btn-block btn-outline dark">Cerrar sesion</a>
				</div>
			</div>
		</div>


	<!-- /MENU -->

      <!--/contenido/-->
        {% block content %}

        {% endblock %}
      <!--/contenido/-->


	</div>
		<div id="main-menu-bg">
			
		</div>
	</div>

	<script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>"); </script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script src="{% static 'javascripts/bootstrap.min.js' %}"></script>
	<script src="{% static 'javascripts/pixel-admin.min.js' %}"></script>
	<script src="{% static 'javascripts/pixel-admin.min.js' %}"></script>
	<!--<script src="{% static 'javascripts/demo.js' %}"></script>-->
	<script type="text/javascript">
		init.push(function () {
			// Javascript code here
		})
		window.PixelAdmin.start(init);
	</script>

    {% block scripts %}
    {% endblock %}


	</body>
							
	</html>
