{% extends 'usuarios/base_usuario2.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{%block title %} <title>Cambio titular</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}
<div class="row">
    <div class="col-sm-8">
        <h4 class="text-gray-800">Cambio de titular</h4>
    </div>
     <div class="col-sm-4">
        <button class="btn btn-primary btn-sm ml-auto float-right" style="margin-right: 0.5rem;" onclick="window.location='{% url 'usuarios:vervivienda' matricula %}'">Volver</button>
    </div>
</div>
		<div class="row text-center" style="margin-top:0.5rem">
			<div class="col-sm-6">
				<div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Informacion del titular actual</h6>
                    </div>
                    <div class="card-body">
	                    <table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nombres</th>
									<th>Apellidos</th>
									<th>No Telefono</th>
								</tr>
							</thead>
							<tbody>
								{% for estados in propietario %}
									<tr class="odd gradeX">
										<td>{{ estados.IdPropietario }}</td>
										<td>{{ estados.Nombres }}</td>
										<td>{{ estados.Apellidos }}</td>
										<td>{{ estados.NoTelefono }}</td>									
									</tr>
								{% endfor %}
							</tbody>
						</table>
                    </div>
                </div>
			</div>
			<div class="col-sm-6 text-center">
				<div style="width: 100%">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group">
						<label class="control-label">Digite el numero de identificación del nuevo titular</label>
						<div class="input-group" style="margin-top: 1rem">
							<input name="idpropietario" type="text" class="form-control">
							<span class="input-group-btn">
								
							</span>
						</div>
					</div>
					<button style="width:100%" class="btn btn-primary" type="submit">Cambiar</button>
				</form>
				</div>
				
			</div>
			<div class="col-sm-6">
				
			</div>
		</div>

{% endblock %}
{% block scripts %}
{% endblock %}