{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<style>
  .table-responsive {
    overflow-y: auto;
  }
</style>
{% endblock %}
{%block title %} <title>Medicion</title> {%endblock%}
{% block content %}
{% load humanize %}
{% include 'usuarios/alerts.html' %}
<div class="page-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <h3 class="subheader">Estadisticas de consumo</h3>
              <div class="col-auto" style="margin-top: 0.5rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-indigo text-white avatar">
                              <!-- Download SVG icon from http://tabler-icons.io/i/gauge -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><circle cx="12" cy="12" r="1" /><line x1="13.41" y1="10.59" x2="16" y2="8" /><path d="M7 12a5 5 0 0 1 5 -5" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          {{contar}}
                        </div>
                        <div class="text-muted">
                          Medidores activos
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto" style="margin-top: 0.5rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-success text-white avatar">
                              <!-- Download SVG icon from http://tabler-icons.io/i/chart-bar -->
  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="3" y="12" width="6" height="8" rx="1" /><rect x="9" y="8" width="6" height="12" rx="1" /><rect x="15" y="4" width="6" height="16" rx="1" /><line x1="4" y1="20" x2="18" y2="20" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          {{suma|intcomma}} m3
                        </div>
                        <div class="text-muted">
                          Consumo total
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto" style="margin-top: 0.5rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-indigo text-white avatar">
                              <!-- Download SVG icon from http://tabler-icons.io/i/chart-bar -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="3" y="12" width="6" height="8" rx="1" /><rect x="9" y="8" width="6" height="12" rx="1" /><rect x="15" y="4" width="6" height="16" rx="1" /><line x1="4" y1="20" x2="18" y2="20" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          {{suma2|intcomma}} m3
                        </div>
                        <div class="text-muted">
                          Año actual
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                            <div class="col-auto" style="margin-top: 0.5rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-purple text-white avatar">
                              <!-- Download SVG icon from http://tabler-icons.io/i/chart-bar -->
  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="3" y="12" width="6" height="8" rx="1" /><rect x="9" y="8" width="6" height="12" rx="1" /><rect x="15" y="4" width="6" height="16" rx="1" /><line x1="4" y1="20" x2="18" y2="20" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          {% for consumo in ultimo %}
                           {{consumo.Consumo}} m3 - {{consumo.mes}}
                          {%endfor%}
                        </div>
                        <div class="text-muted">
                          Ultimo mes
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          <br>
          <div class="row">
            <h3 class="subheader">Opciones disponibles</h3>
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="{% url 'usuarios:pmedicion' %}"class="btn btn-sm btn-teal btn-pill  w-100">Plantilla medicion</a>
            </div>
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="" data-bs-toggle="modal" data-bs-target="#modal-full-width" class="btn btn-sm btn-teal btn-pill w-100">Medidores sin asignar</a>
            </div>
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="{% url 'usuarios:registromedidor' %}" class="btn btn-sm btn-indigo btn-pill w-100">Registrar medidor</a>
            </div>
            
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="" data-bs-toggle="modal" data-bs-target="#registroconsumo" class="btn btn-sm btn-indigo btn-pill w-100">Registrar consumo</a>
            </div>
            
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="{% url 'usuarios:regmencon' %}"class="btn btn-sm btn-indigo btn-pill w-100">Registrar consumo mensual</a>
            </div>
          </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <h3 class="subheader">Medidores activos</h3>
          <div class="card">
            <br>

                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable" id="datatable">
                      <thead>
                        <tr>
                          <th class="w-1">No. <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm text-dark icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="6 15 12 9 18 15" /></svg>
                          </th>
                          <th>Predio</th>
                          <th>Titular</th>
                          <th>Estado</th>
                          <th>Fecha instalacion</th>
                          <th>Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for cierre in asignado %}
                          <td><span class="text-muted">{{ cierre.IdMedidor }}</span></td>
                          <td>{{ cierre.IdVivienda }}</td>
                          <td>{{ cierre.IdVivienda.IdPropietario }}</td>
                          <td>
                            <span class="badge bg-success me-1"></span>{{ cierre.Estado }}
                          </td>
                          <td>
                            {{cierre.Fecha|date:"d/m/Y"}}
                          </td>
                          <td class="text-end">
                            <a class="btn btn-sm btn-dark" href="{% url 'usuarios:verconsumo' cierre.IdVivienda %}">
                                  +
                                </a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>

        </div>
      </div>
       <div class="row" style="margin-top:2rem;">
                <h3 class="subheader">Comparacion de consumo - ULTIMOS 12 MESES</h3>
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                       <div class="row">
                        <div class="col-md-4">
                          <p><b style="color:#5eba00;">Limite: </b> Consumo aproximado calculando la cantidad de micromedidores instalados con el consumo promedio nacional</p>
                        </div>
                        <div class="col-md-4">
                          <p><b style="color:#f10e0e;">Consumo:</b> Consumo mensual en m3</p>
                        </div>
                        <div class="col-md-4">
                           <p><b style="color:#ff922b;">Medidores:</b> Numero de medidores instalados</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div id="chart-line-stroke"></div>
                  </div>
                </div>
                </div>
      </div>
                   
      </div>
      <br>
    </div>
    <div class="modal modal-blur fade" id="modal-full-width" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Medidores sin asignar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                   <div class="row">
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap">
                        <thead>
                                    <tr>
                                        <th>No medidor</th>
                                        <th>Marca</th>
                                        <th>Modelo</th>
                                        <th>Tipo</th>
                                        <th>Designacion</th>
                                        <th>Clase</th>
                                        <th>Diametro (mm)</th>
                                        <th>Año (f)</th>
                                        <th>Certificado</th>
                                        <th>Fecha</th>
                                        <th>Asignar</th>
                                    </tr>
                        </thead>
                        <tbody>
                            {% for cierre in sinasignar %}
                                <tr class="odd gradeX">
                                            <td>{{ cierre.IdMedidor }}</td>
                                            <td>{{ cierre.Marca }}</td>
                                            <td>{{ cierre.Modelo }}</td>
                                            <td>{{ cierre.Tipo }}</td>
                                            <td>{{ cierre.Designacion }}</td>
                                            <td>{{ cierre.clase }}</td>
                                            <td>{{ cierre.Diametronominal }}</td>
                                            <td>{{ cierre.AnoFabricacion}}</td>
                                            <td>{{ cierre.Certificado}}</td>
                                            <td>{{ cierre.Fecha}}</td>
                                            <td><a href="{% url 'usuarios:asignarmedidor' cierre.IdMedidor %}" class="btn btn-sm btn-indigo btn-pill w-100">+</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

        <div class="modal modal-blur fade" id="registroconsumo" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Registrar consumo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                                            <form action="{% url 'usuarios:registrarconsumo' %}" method="get" class="form-inline">
                                  {% csrf_token %}
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <input style="width: 100%" type="text" name="matricula" class="form-control" placeholder="Matricula" id="miInput" oninput="verificarTexto()">
                                      </div>
                                          <button style="margin-top: 1rem; width: 100%;" type="submit" class="btn btn-primary">Validar</button>
                                  </div>
                                </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    $('#datatable').DataTable({
      responsive: true,
      paging: true,
      searching: true,
      language: {
        search: "Buscar:",
        lengthMenu: "Mostrar _MENU_ entradas",
        info: "Mostrando _START_ a _END_ de _TOTAL_ entradas",
        paginate: {
          first: "Primero",
          last: "Último",
          next: "Siguiente",
          previous: "Anterior"
        }
      }
    });
  });
</script>
    <script>
      // @formatter:off

      const etiquetas = {{ labels|safe }};  // Datos de etiquetas
      const valores = {{data|safe }};      // Datos de valores
      const canti = {{cantmedidores|safe }};      // Datos de valores
      const promedio = {{promedio|safe }};      // Datos de valores

      document.addEventListener("DOMContentLoaded", function () {
        window.ApexCharts && (new ApexCharts(document.getElementById('chart-line-stroke'), {
          chart: {
            type: "line",
            fontFamily: 'inherit',
            height: 240,
            parentHeightOffset: 0,
            toolbar: {
              show: false,
            },
            animations: {
              enabled: false
            },
          },
          fill: {
            opacity: 1,
          },
          stroke: {
            width: 2,
            lineCap: "round",
            curve: "straight",
          },
          series: [{
            name: "Numero de medidores",
            data: canti,
          },
          {
            name: "Tope 1",
            data: promedio,
          },{
            name: "Consumo - M3",
            data: valores,
          }],
          grid: {
            padding: {
              top: -20,
              right: 0,
              left: -4,
              bottom: -4
            },
            strokeDashArray: 4,
          },
          xaxis: {
            labels: {
              padding: 0,
            },
            tooltip: {
              enabled: false
            },
            categories: etiquetas,
          },
          yaxis: {
            labels: {
              padding: 4
            },
          },
          colors: ["#ff922b", "#5eba00","#f10e0e"],
          legend: {
            show: false,
          },
        })).render();
      });
      // @formatter:on
    </script>
{% endblock %}