{% extends 'usuarios/base_usuario2.html' %}
{% load static %}
{% block styles %}

{% endblock %}
{%block title %} <title>Modulo - MAUA</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}
<!-- Titulo -->
<div class="row">
     <div class="col-sm-6">
    </div>
     <div class="col-sm-6">
        {% for usuario in usuario %}
         <button onclick="window.location='{% url 'usuarios:perfilusuario' usuario.IdUsuario %}'" class="btn btn-primary btn-sm ml-auto float-right">Volver</button>
         {% endfor %}
    </div>
</div>

<div class="row text-center" style="margin-top: 1rem;">

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Modificar acceso al sistema</h6>
                                </div>
                                <div class="card-body">
                                    Por motivos de seguridad el usuario no se elimina del sistema
                                    <hr>
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Usuario</th>
                                                                    <th>Nombres</th>
                                                                    <th>Apellidos</th>
                                                                    <th>Correo</th>
                                                                    <th>Fecha creacion</th>
                                                                    <th>Estado usuario</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for usuario in usuario %}
                                                                    <tr class="odd gradeX">
                                                                        <td>{{ usuario.usuid.username }}</td>
                                                                        <td>{{ usuario.usuid.first_name }}</td>
                                                                        <td>{{ usuario.usuid.last_name }}</td>
                                                                        <td>{{ usuario.usuid.email }}</td>
                                                                        <td>{{ usuario.FechaCreacion }}</td>
                                                                        <td>
                                                                            {% if usuario.usuid.is_active is True %}
                                                                                <span class="badge badge-pill badge-success">Activo</span>
                                                                            {% else %}
                                                                                <span class="badge badge-pill badge-warning">Inactivo</span>
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                        </table>
                                            <div style="padding-top: 2rem">
                                            {% for usuario in usuario %}
                                                {% if usuario.usuid.is_active is True %}
                                                    <button type="submit" class="btn btn-primary" style="width: 100%">Desactivar</button>
                                                {% else %}
                                                    <button type="submit" class="btn btn-primary" style="width: 100%">Activar</button>
                                                {% endif %} 
                                            {% endfor %}        
                                            </div>
                                        </form>
                                </div>
                            </div>
                <div class="col-sm-12">

                </div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}