{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}
{% load humanize %}
{% endblock %}
{%block title %} <title>Generar factura individual</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}
<div id="content-wrapper">
		<div class="page-header ">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1 class="text-left-sm"><i class="fa fa-file-text page-header-icon"></i>&nbsp;&nbsp;Generar factura</h1>
				</div>
				<!-- Page header, center on small screens -->
				
			</div>

		</div> <!-- / .page-header -->
		<div class="row">
			<div class="col-sm-2">
				
			</div>
			<div class="col-sm-8 text-center">
				<div style="width: 100%">

				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<table class="table">
										<thead>
											<tr>
												<th>Referencia</th>
												<th>Descripcion</th>
												<th>Estado cuenta</th>
												<th>Fecha Actualizacion</th>
												<th>Valor</th>
											</tr>
										</thead>
										<tbody>
											{% for estados in estadocuenta %}
												<tr class="odd gradeX">
													<td>{{ estados.IdEstadoCuenta }}</td>
												    <td>{{ estados.Descripcion }}</td>
												    <td>{{ estados.Estado }}</td>
												    <td>{{ estados.FechaActualizacion }}</td>
												    <td>{{ estados.Valor }}</td>
												</tr>
											{% endfor %}
										</tbody>
					</table>
					<table class="table">
										<thead>
											<tr>
												<th>Referencia</th>
												<th>Descripcion</th>
												<th>Estado</th>
												<th>Valor matricula</th>
												<th>Cuotas</th>
												<th>Cuotas pendientes</th>
												<th>Valor pendiente</th>
												<th>Cuota mensual</th>
											</tr>
										</thead>
										<tbody>
											{% for estados in matriculas %}
												<tr class="odd gradeX">
													<td>{{ estados.IdCobroM }}</td>
												    <td>{{ estados.Descripcion }}</td>
												    <td>{{ estados.Estado }}</td>
												    <td>{{ estados.IdValor }}</td>
												    <td>{{ estados.CantCuotas }}</td>
												    <td>{{ estados.CuotasPendientes }}</td>
												    <td>{{ estados.ValorPendiente }}</td>
												    <td>{{ estados.Cuota }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
					<div style="padding-top: 2rem">
						<button type="submit" class="btn btn-primary" style="width: 100%">Generar factura</button>
					</div>
				</form>
				</div>
				<div style="padding-top: 2rem">
					<button onclick="window.location='{% url 'usuarios:vervivienda' matricula %}'" class="btn btn-primary" style="width: 100%">Cancelar</button>
				</div>
				
			</div>
			<div class="col-sm-2">
				
			</div>
		</div>

</div>

{% endblock %}
{% block scripts %}
{% endblock %}