{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}
 <style>
        .negativo {
            color: red;
        }
        .positivo {
            color: green;
        }
    </style>
{% endblock %}
{%block title %} <title>Control presupuestal</title> {%endblock%}
{% block content %}
{% load humanize %}
{% include 'usuarios/alerts.html' %}
<div class="page-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
      <h3 class="subheader">Resultados - {{anio}}</h3>
        <table style="width: 100%;" class="table table-bordered">
            <thead>
                <tr>
                    <th>Mes</th>
                <th>Total Ingresos</th>
                <th>Total Egresos</th>
                <th>Diferencia (Ing - Egr)</th>
                </tr>
            </thead>
            <tbody>
                 {% for mes, datos in datos_por_mes.items %}
            <tr>
                <td>{{ mes }}</td>
                <td>${{ datos.total_ingresos|intcomma }}</td>
                <td>${{ datos.total_egresos|intcomma }}</td>
                 <td class="{% if datos.diferencia < 0 %}negativo{% else %}positivo{% endif %}">
                 ${{ datos.diferencia|intcomma }}
               </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <div class="row">
                <div class="col-md-6">
               <div class="row">
          <h3 class="subheader">Informacion financiera - mes actual</h3>
              <div class="col-md-12" style="margin-top: 0.5rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-green-lt avatar">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><line x1="9" y1="7" x2="10" y2="7" /><line x1="9" y1="13" x2="15" y2="13" /><line x1="13" y1="17" x2="15" y2="17" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          ${{ingresomensual|intcomma}}
                        </div>
                        <div class="text-muted">
                          Ingresos
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12" style="margin-top: 0.5rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-green-lt avatar">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2" /><path d="M12 3v3m0 12v3" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          ${{gastosmensuales|intcomma}}
                        </div>
                        <div class="text-muted">
                          Egresos
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12" style="margin-top: 0.5rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-green-lt avatar">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12l-6.5 5.5" /><path d="M12 3v9h9" /><circle cx="12" cy="12" r="9" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          ${{presupuesto|intcomma}}
                          <span class="float-right font-weight-medium text-green">+{{promtarifa}}%</span>
                        </div>
                        <div class="text-muted">
                          Saldo
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="row">
          <h3 class="subheader">Informacion financiera - año actual</h3>
              <div class="col-md-12" style="margin-top: 0.3rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                       <span class="bg-green-lt avatar">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 20v-8h-3.586a1 1 0 0 1 -.707 -1.707l6.586 -6.586a1 1 0 0 1 1.414 0l6.586 6.586a1 1 0 0 1 -.707 1.707h-3.586v8a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">${{total_ingresos_anual|intcomma}}
                          <span class="float-right font-weight-medium text-green">+%</span>
                        </div>
                        <div class="text-muted">
                          Ingresos
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12" style="margin-top: 0.3rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-red-lt avatar">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 4v8h3.586a1 1 0 0 1 .707 1.707l-6.586 6.586a1 1 0 0 1 -1.414 0l-6.586 -6.586a1 1 0 0 1 .707 -1.707h3.586v-8a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1z" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">${{total_egresos_anual|intcomma}}
                          <span class="float-right font-weight-medium text-green">+%</span>
                        </div>
                        <div class="text-muted">
                          Egresos
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12" style="margin-top: 0.3rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-cyan-lt avatar">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2" /><path d="M12 3v3m0 12v3" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">${{credito|intcomma}}
                          <span class="float-right font-weight-medium text-green">+%</span>
                        </div>
                        <div class="text-muted">
                          Endeudamiento
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>

      </div>

        </div>
        <br>
<div class="row">
                <div class="col-md-12">
      <h3 class="subheader">Resultados ultimos años</h3>
        <table style="width: 100%;" class="table table-bordered">
            <thead>
                <tr>
                  <th>Año</th>
                  <th>Total Ingresos</th>
                  <th>Total Egresos</th>
                  <th>Diferencia</th>
              </tr>
            </thead>
            <tbody>
                {% for ano, datos in datos_por_ano.items %}
                  <tr>
                      <td>{{ ano }}</td>
                      <td>${{ datos.total_ingresos_anio|intcomma }}</td>
                      <td>${{ datos.total_egresos_anio|intcomma }}</td>
                      <td class="{% if datos.diferencia_anio < 0 %}negativo{% else %}positivo{% endif %}">
                          ${{ datos.diferencia_anio|intcomma }}
                      </td>
                  </tr>
                  {% endfor %}
            </tbody>
        </table>
      </div>
        </div>
        
      </div>
             <div class="col-md-2">
          <h3 class="subheader">Opciones disponibles</h3>
          <div class="row">
            <div class="col-md-12" style="margin-top: 0.3rem">
               <a href="{% url 'usuarios:listadogastos' %}" class="btn btn-sm btn-teal btn-pill w-100">Listado de ordenes</a>
            </div>
            <div class="col-md-12" style="margin-top: 0.3rem">
               <a href="{% url 'usuarios:cierrefinanciero' %}" class="btn btn-sm btn-teal btn-pill w-100">Cierres mensuales</a>
            </div>    
            <div class="col-md-12" style="margin-top: 0.3rem">
               <a href="{% url 'usuarios:generargasto' %}" class="btn btn-sm btn-indigo btn-pill w-100">Registrar solicitud</a>
            </div>
            <div class="col-md-12" style="margin-top: 0.3rem">
               <a href="{% url 'usuarios:registroproveedor' %}" class="btn btn-sm btn-indigo btn-pill w-100">Registrar proveedor</a>
            </div> 
                 
          </div>
          <div class="row" style="margin-top: 0.3rem">
            <h3 class="subheader">Estadisticas</h3>
                    <div class="col-md-12">
                        <div class="card card-sm">
                          <div class="card-body">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <span class="bg-teal text-white avatar">
                                    
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12l5 5l10 -10" /><path d="M2 12l5 5m5 -5l5 -5" /></svg>
                                </span>
                              </div>
                              <div class="col">
                                <div class="font-weight-medium">
                                  {{ contadorp }}
                                </div>
                                <div class="text-muted">
                                  Pendientes
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 0.3rem">
                    <div class="col-md-12">
                        <div class="card card-sm">
                          <div class="card-body">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <span class="bg-teal text-white avatar">
                                    
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12l5 5l10 -10" /><path d="M2 12l5 5m5 -5l5 -5" /></svg>
                                </span>
                              </div>
                              <div class="col">
                                <div class="font-weight-medium">
                                  {{ contadora }}
                                </div>
                                <div class="text-muted">
                                  Aprobadas
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 0.3rem">
                    <div class="col-md-12">
                        <div class="card card-sm">
                          <div class="card-body">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <span class="bg-red text-white avatar">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/square-x -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="4" width="16" height="16" rx="2" /><path d="M10 10l4 4m0 -4l-4 4" /></svg>
                                </span>
                              </div>
                              <div class="col">
                                <div class="font-weight-medium">
                                  {{ contadoranu }}
                                </div>
                                <div class="text-muted">
                                  Anuladas
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
        
      </div>
    </div>

    <div class="row">
            <div class="col-md-12">
                 <h3 class="subheader">Listado de ordenes pendientes</h3>
                <div class="row">
                    <div class="col-md-12">
                    <table class="table card-table table-vcenter text-nowrap datatable" id="datatable" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Numero Orden</th>
                                                <th>Tipo Solicitud</th>
                                                <th>Valor</th>
                                                <th>Estado</th>
                                                <th>Fecha</th>
                                                <th>Opciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for facturas in solicitudesgastos %}
                                                    <tr class="odd gradeX">
                                                        <td>{{ facturas.IdSoGa }}</td>
                                                        <td>{{ facturas.TipoSolicitud }}</td>
                                                        <td>{{ facturas.Valor|intcomma }}</td>
                                                        <td>{{ facturas.Estado }}</td>
                                                        <td>{{ facturas.Fecha }}</td>
                                                        <td><a class="btn btn-sm btn-indigo btn-pill w-100" href="{% url 'usuarios:cambio' facturas.IdSoGa %}">
                                                              Ver</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                    </table>
                    </div>
                </div>
            </div>
 
 

    </div>
  </div>
</div>

      </div>
    </div>

{% endblock %}
{% block scripts %}
  <script>
    function verificarTexto() {
      var input = document.getElementById("miInput");
      var boton = document.getElementById("miBoton");
      
      if (input.value === "") {
        boton.disabled = true;
      } else {
        boton.disabled = false;
      }
    }
  </script>
  <script>
      // @formatter:off
      document.addEventListener("DOMContentLoaded", function () {
        window.ApexCharts && (new ApexCharts(document.getElementById('chart-demo-pie'), {
          chart: {
            type: "donut",
            fontFamily: 'inherit',
            height: 270,
            sparkline: {
              enabled: true
            },
            animations: {
              enabled: false
            },
          },
          fill: {
            opacity: 1,
          },
          series: [{{ingresomensual}}, {{gastosmensuales}}],
          labels: ["Ingresos", "Egresos",],
          grid: {
            strokeDashArray: 6,
          },
          colors: ["#7DD054", "#e9ccf1",],
          legend: {
            show: true,
            position: 'bottom',
            offsetY: 12,
            markers: {
              width: 10,
              height: 10,
              radius: 100,
            },
            itemMargin: {
              horizontal: 9,
              vertical: 9
            },
          },
          tooltip: {
            fillSeriesColor: false
          },
        })).render();
      });
      // @formatter:on
    </script>
{% endblock %}