{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}
<link href="{% static 'stylesheets/diseno.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{%block title %} <title>Suspenciones</title> {%endblock%}
{% block content %}
{% load humanize %}
{% include 'usuarios/alerts.html' %}
<div class="page-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <h3 class="subheader">Estadisticas</h3>
          <div class="col-auto">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-yellow text-white avatar">
                          <!-- Download SVG icon from http://tabler-icons.io/i/alert-octagon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8.7 3h6.6c.3 0 .5 .1 .7 .3l4.7 4.7c.2 .2 .3 .4 .3 .7v6.6c0 .3 -.1 .5 -.3 .7l-4.7 4.7c-.2 .2 -.4 .3 -.7 .3h-6.6c-.3 0 -.5 -.1 -.7 -.3l-4.7 -4.7c-.2 -.2 -.3 -.4 -.3 -.7v-6.6c0 -.3 .1 -.5 .3 -.7l4.7 -4.7c.2 -.2 .4 -.3 .7 -.3z" /><line x1="12" y1="8" x2="12" y2="12" /><line x1="12" y1="16" x2="12.01" y2="16" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          {{ pendientes }}
                        </div>
                        <div class="text-muted">
                          Pendientes
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto" style="margin-top: 0.5rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-indigo text-white avatar">
                           <!-- Download SVG icon from http://tabler-icons.io/i/letter-x -->
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="7" y1="4" x2="17" y2="20" /><line x1="17" y1="4" x2="7" y2="20" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          {{ anuladas }}
                        </div>
                        <div class="text-muted">
                          Anuladas
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto" style="margin-top: 0.5rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-green text-white avatar">
                              <!-- Download SVG icon from http://tabler-icons.io/i/checks -->
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12l5 5l10 -10" /><path d="M2 12l5 5m5 -5l5 -5" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          {{ ejecutadas }}
                        </div>
                        <div class="text-muted">
                          Ejecutadas
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto" style="margin-top: 0.5rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-red text-white avatar">
                             <!-- Download SVG icon from http://tabler-icons.io/i/chart-pie-4 -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12l-6.5 5.5" /><path d="M12 3v9h9" /><circle cx="12" cy="12" r="9" /><path d="M12 12l5 7.5" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          {{total}}
                        </div>
                        <div class="text-muted">
                          Total
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      </div>
      <div class="col-md-8">
                        <div class="card">
                  <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="card-title">Ordenes de suspención pendientes</h3>
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                        <div class="col-md-3">
                            <form class="table-search-form row gx-1 align-items-center">
                                <div class="col-auto">
                                    <input type="text" id="search" name="searchorders" class="form-control search-orders" placeholder="Buscar">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive" style="height:15rem">
                    <table class="table card-table table-vcenter text-nowrap datatable" id="datatable" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Numero Orden</th>
                                <th>Fecha ejecucion</th>
                                <th>Estado</th>
                                <th>Referencia</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ord in ordsus %}
                            <tr>
                                <td>{{ ord.IdOrden }}</td>
                                <td>{{ ord.FechaEjecucion }}</td>
                                <td>{{ ord.Estado }}</td>
                                <td>{{ ord.IdEstadoCuenta }}</td>
                                <td><a class="btn btn-sm btn-indigo btn-pill w-100" href="{% url 'usuarios:verordensus' ord.IdOrden %}">
                                                              Ver</a>
                                </td>
                            </tr>
                             {% endfor %}
                        </tbody>
                    </table>
                </div>
                  </div>
                </div>

      </div>
      <div class="col-md-2">
          <h3 class="subheader">Reportes disponibles</h3>
          <div class="row">
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="{% url 'usuarios:reportesuspenciones' %}" class="btn btn-sm btn-indigo btn-pill w-100">Descargar OT
                    </a>
            </div>

          </div>
      </div>

    </div>
  </div>
</div>

      </div>
    </div>

{% endblock %}
{% block scripts %}
<script>
 // Write on keyup event of keyword input element
 $(document).ready(function(){
 $("#search").keyup(function(){
 _this = this;
 // Show only matching TR, hide rest of them
 $.each($("#datatable tbody tr"), function() {
 if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
 $(this).hide();
 else
 $(this).show();
 });
 });
});
</script>
{% endblock %}