{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}
<link href="{% static 'stylesheets/diseno.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{%block title %} <title>Inicio</title> {%endblock%}
{% block content %}
{% load humanize %}
{% include 'usuarios/alerts.html' %}
<div class="page-body">
  <div class="spinner"></div>
  <div class="container-fluid">
    <div class="row">
       <div class="col-md-2">
        <div class="row">
          <div class="col-md-12">
            <h3 class="subheader">Empresa</h3>
              <div class="col-auto" style="margin-top: 0.5rem">
                <div class="card">
                  <div class="card-body p-4 text-center">
                    <span class="avatar avatar-xl mb-1" style="background-image: url({{ logo.url }})"></span>
                    <h3 class="m-0 mb-1">{{ acueducto }}</h3>
                    <div class="text-muted">{{ nit }}</div>
                  </div>
                  <div class="d-flex">
                                        
                  </div>
            </div>
          </div>
          </div>
        </div>
          <br>
          <div class="row text-center" style="text-align: center;">
            <div class="col-6 col-sm-4 col-md-2 col-xl-auto mb-3">
              <a data-bs-toggle="offcanvas" href="#offcanvasStart" role="button" aria-controls="offcanvasStart" class="btn  btn-dark w-100 btn-icon">
                          <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-xl-auto mb-3">
              <a data-bs-toggle="offcanvas" href="#offcanvasStart2" role="button" aria-controls="offcanvasStart" class="btn  btn-dark w-100 btn-icon">
                          <!-- Download SVG icon from http://tabler-icons.io/i/history -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="12 8 12 12 14 14" /><path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" /></svg>
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-xl-auto mb-3">
              <a data-bs-toggle="offcanvas" href="#offcanvasStart3" role="button" aria-controls="offcanvasStart" class="btn  btn-dark w-100 btn-icon">
                          <!-- Download SVG icon from http://tabler-icons.io/i/user-exclamation -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="9" cy="7" r="4" /><path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /><line x1="19" y1="7" x2="19" y2="10" /><line x1="19" y1="14" x2="19" y2="14.01" /></svg>
              </a>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-xl-auto mb-3">
              <a data-bs-toggle="offcanvas" href="#offcanvasStart4" role="button" aria-controls="offcanvasStart" class="btn  btn-dark w-100 btn-icon">
                         <!-- Download SVG icon from http://tabler-icons.io/i/container -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 4v.01" /><path d="M20 20v.01" /><path d="M20 16v.01" /><path d="M20 12v.01" /><path d="M20 8v.01" /><rect x="8" y="4" width="8" height="16" rx="1" /><path d="M4 4v.01" /><path d="M4 20v.01" /><path d="M4 16v.01" /><path d="M4 12v.01" /><path d="M4 8v.01" /></svg>
              </a>
            </div>
          </div>
          <br>
        <div class="row">
          <h3 class="subheader">Reportes disponibles</h3>
          <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="{% url 'usuarios:reportecompleto' %}" class="btn btn-sm btn-dark btn-pill w-100">Informe completo</a>
            </div>
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="{% url 'usuarios:reportepagos' %}" class="btn btn-sm btn-dark btn-pill w-100">Ingresos</a>
            </div>
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="{% url 'usuarios:reportegastos' %}" class="btn btn-sm btn-dark btn-pill w-100">Egresos</a>
            </div>
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="{% url 'usuarios:reportecierre' %}" class="btn btn-sm btn-dark btn-pill w-100">Cierres mensuales</a>
            </div>
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="" class="btn btn-sm btn-dark btn-pill w-100">Conceptos</a>
            </div>
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="" class="btn btn-sm btn-dark btn-pill w-100">Creditos</a>
            </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <h3 class="subheader">Informacion financiera - mes actual</h3>
              <div class="col-md-6 col-xl-4" style="margin-top: 0.5rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-green-lt avatar">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><line x1="9" y1="7" x2="10" y2="7" /><line x1="9" y1="13" x2="15" y2="13" /><line x1="13" y1="17" x2="15" y2="17" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          {{facturaspagas}}
                          <span class="float-right font-weight-medium text-green">+{{contador}}%</span>
                        </div>
                        <div class="text-muted">
                          Facturas pagas
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4" style="margin-top: 0.5rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-green-lt avatar">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2" /><path d="M12 3v3m0 12v3" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          $ {{pagos|intcomma}}
                          <span class="float-right font-weight-medium text-green">+{{porcentaje}}%</span>
                        </div>
                        <div class="text-muted">
                          Recaudado
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4" style="margin-top: 0.5rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-green-lt avatar">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12l-6.5 5.5" /><path d="M12 3v9h9" /><circle cx="12" cy="12" r="9" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          $ {{promedio|intcomma}}
                          <span class="float-right font-weight-medium text-green">+{{promtarifa}}%</span>
                        </div>
                        <div class="text-muted">
                          Promedio
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>            
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
              <h3 class="subheader">Estadisticas</h3>
              <div class="row">
                  <div class="col-md-6">
                      <div class="card card-sm">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-auto">
                              <span class="bg-orange text-white avatar">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="9" cy="7" r="4" /><path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /><path d="M16 3.13a4 4 0 0 1 0 7.75" /><path d="M21 21v-2a4 4 0 0 0 -3 -3.85" /></svg>
                              </span>
                            </div>
                            <div class="col">
                              <div class="font-weight-medium">
                                {{personas}}
                              </div>
                              <div class="text-muted">
                                Usuarios
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-auto">
                          <div class="card card-sm">
                            <div class="card-body">
                              <div class="row align-items-center">
                                <div class="col-auto">
                                  <span class="bg-indigo text-white avatar">
                                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                                  </span>
                                </div>
                                <div class="col">
                                  <div class="font-weight-medium">
                                    {{suscriptores}}
                                  </div>
                                  <div class="text-muted">
                                    Suscriptores activos
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
              </div>
              <div class="row">
                <div class="row">
                <div class="col-md-6" style="margin-top: 0.5rem">
                  <div class="card card-sm">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <span class="bg-indigo text-white avatar">
                                <!-- Download SVG icon from http://tabler-icons.io/i/gauge -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><circle cx="12" cy="12" r="1" /><line x1="13.41" y1="10.59" x2="16" y2="8" /><path d="M7 12a5 5 0 0 1 5 -5" /></svg>
                          </span>
                        </div>
                        <div class="col">
                          <div class="font-weight-medium">
                            {{contarasig}}
                          </div>
                          <div class="text-muted">
                            Medidores activos
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6" style="margin-top: 0.5rem">
                  <div class="card card-sm">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <span class="bg-success text-white avatar">
                                <!-- Download SVG icon from http://tabler-icons.io/i/chart-bar -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="3" y="12" width="6" height="8" rx="1" /><rect x="9" y="8" width="6" height="12" rx="1" /><rect x="15" y="4" width="6" height="16" rx="1" /><line x1="4" y1="20" x2="18" y2="20" /></svg>
                          </span>
                        </div>
                        <div class="col">
                          <div class="font-weight-medium">
                            {{suma8|intcomma}} m3
                          </div>
                          <div class="text-muted">
                            Consumo
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              </div>
              <div class="row">
                
              </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        
      </div>
      <div class="col-md-2">
          <div class="row">
            <div class="col-md-12" style="margin-top: 0.5rem">
              <h3 class="subheader">Modulo de recaudo</h3>
                <div class="card-body">
                                <form action="{% url 'usuarios:verfactura' %}" method="get" class="form-inline">
                                  {% csrf_token %}
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <video style="width: 100%;" src="" id="video" autoplay="true"></video>
                                      </div>
                                      <div class="col-sm-12">
                                          <input style="width: 100%" type="text" name="factura" class="form-control" placeholder="Numero de factura" id="miInput" oninput="verificarTexto()">
                                      </div>
                                          <button id="miBoton" style="margin-top: 1rem; width: 100%;" type="submit" class="btn btn-dark" disabled>Validar</button>
                                  </div>
                                </form>
                              </div>
            </div>
            
          </div>
      </div>

    </div>
    <br>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel">
              <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasStartLabel">Buscador</h2>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div>
                  <form action="{% url 'usuarios:busquedas' %}" method="get">
                    {% csrf_token %}
                    <div class="form-label">
                        <label class="form-label">Tipo de busqueda</label>
                        <select name="tipo" class="form-select">
                            <option>Cedula de ciudadania</option>
                            <option>Numero de matricula</option>
                        </select>
                    </div>
                    <div class="form-label">
                        <label class="form-label">ID</label>
                        <div class="input-group">
                            <input name="identificacion" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row text-center" >
                        <div class="col-sm-12" style="margin-top: 1rem;">
                            <button style="width: 100%;" type="submit" class="btn btn-sm btn-indigo btn-pill w-100">Buscar</button>
                        </div>
                    </div>
                </form>
                </div>
              </div>
            </div>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStart2" aria-labelledby="offcanvasStartLabel">
              <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasStartLabel">Historial</h2>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                            <div class="col-md-12">
                  <table class="table card-table table-vcenter">
                    <thead>
                      <tr>
                        <th>Descripcion</th>
                        <th colspan="2">Fecha</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for novedad in novedades %}
                      <tr>
                        <td>{{novedad.Descripcion}}</td>
                        <td>{{novedad.Fecha}}</td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
            </div>
                <div>

                </div>
              </div>
            </div>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStart3" aria-labelledby="offcanvasStartLabel">
              <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasStartLabel">Informacion del usuario</h2>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                            <div class="col-md-12">
                               <div class="card">
                  <div class="card-body p-4 text-center">
                    <span class="avatar avatar-xl mb-1" style="background-image: url({{ foto.url }})"></span>
                    <h3 class="m-0 mb-1">{{ user.first_name }}&nbsp;{{ user.last_name }}</h3>
                    <div class="text-muted">{{ user.email }}</div>
                  </div>
                  <div class="d-flex">
                                        
                  </div>
            </div>
            <br>
                  <dl class="row">
                                <h3 class="subheader">Informacion adicional</h3>
                                  <dt class="col-5">Area:</dt>
                                  <dd class="col-7">{{departamento}}</dd>
                                  <dt class="col-5">Telefono:</dt>
                                  <dd class="col-7">{{ celular }}<dd>
                                  <dt class="col-5">Cargo:</dt>
                                  <dd class="col-7">{{ cargo }}</dd>
                                  <dt class="col-5">Fecha de registro:</dt>
                                  <dd class="col-7">{{ fechac }}</dd>
                                  <dt class="col-5">Ultimo ingreso:</dt>
                                  <dd class="col-7"> {{ ultimo }}</dd>
                              </dl>
            </div>
                <div>

                </div>
              </div>
            </div>
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStart4" aria-labelledby="offcanvasStartLabel">
              <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasStartLabel">Informacion del usuario</h2>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <h3 class="subheader">Opciones disponibles</h3>
                <div class="row">
                  <div class="col-md-12" style="margin-top: 0.5rem">
                     <a href="{% url 'usuarios:registrotarifa' %}" class="btn btn-sm btn-dark  btn-pill w-100">Registrar tarifa</a>
                  </div>
                  <div class="col-md-12" style="margin-top: 0.5rem">
                     <a href="{% url 'usuarios:modificarempresa' %}" class="btn btn-sm btn-dark  btn-pill w-100">Actualizar datos empresa</a>
                  </div>
                  <div class="col-md-12" style="margin-top: 0.5rem">
                     <a href="" class="btn btn-sm btn-dark  btn-pill w-100" data-bs-toggle="modal" data-bs-target="#modal-simple3">Cargos por conexion</a>
                  </div>
                  <div class="col-md-12" style="margin-top: 0.5rem">
                     <a href="" class="btn btn-sm btn-dark  btn-pill w-100" data-bs-toggle="modal" data-bs-target="#modal-simple4">Tarifas</a>
                  </div>
                </div>
                <br>
                 <div class="row">
                  <h3 class="subheader">Usuarios registrados</h3>
                  {% for usuario in usuarios %}
                  <div class="col-md-12">
                    <a class="card card-link" href="">
                    <div class="card-body">
                            <div class="row">
                              <div class="col-auto">
                                <span class="avatar rounded" style="background-image: url({{ usuario.fotoUsuario.url }})"></span>
                              </div>
                              <div class="col">
                                <div class="font-weight-medium">{{ usuario.usuid.first_name }}&nbsp;{{ usuario.usuid.last_name }}&nbsp;
                                    {% if usuario.usuid.is_active is True %}
                                    <span class="badge bg-purple-lt">Activo</span>
                                    {% else %}
                                    <span class="badge bg-red-lt">Inactivo</span>
                                    {% endif %}
                                </div>
                                <div class="text-muted">{{usuario.TipoUsuario}}</div>
                              </div>
                            </div>
                          </div>
                    </a>
                    <br>
                  </div>
                  {%endfor%}
                </div>
                            
              </div>
            </div>
  </div>
</div>

        <footer class="footer footer-transparent d-print-none">
          <div class="container-fluid">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item"><a href="./license.html" class="link-secondary">Licencia</a></li>
                </ul>
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                   {{nombreproyectol}} &copy; 2023
                    <a href="." class="link-secondary">{{nombreproyecto}}</a>.
                     Todos los derechos reservados
                  </li>
                  <li class="list-inline-item">
                    <a href="./changelog.html" class="link-secondary" rel="noopener">
                      {{versionp}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

{% endblock %}
{% block scripts %}
<script src="{% static 'javascripts/video.js' %}"></script>
  <script>
    function verificarTexto() {
      var input = document.getElementById("miInput");
      var boton = document.getElementById("miBoton");
      
      if (input.value === "") {
        boton.disabled = true;
      } else {
        boton.disabled = false;
      }
    }
  </script>
      <style>
        .spinner {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            margin: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
        <script>
        window.addEventListener('load', function() {
            document.querySelector('.spinner').style.display = 'none';
        });
    </script>
{% endblock %}