{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
{% endblock %}
{%block title %} <title>Modulo - LT</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}
<!-- Titulo -->

 <div class="page-wrapper">
        <div class="container-fluid">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Modulo
                </div>
                <h2 class="page-title">
                  Titulares registrados
                </h2>
              </div>

            </div>
          </div>
        </div>
      </div>
<br>      
<!-- tabla -->
<div class="item container-xl">
    <div class="row item">
                   <div class="row">
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable" id="datatable">
                        <thead>
                                    <tr>
                                        <th>Identificacion</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Opciones</th>
                                    </tr>
                        </thead>
                        <tbody>
                            {% for usuarios in usuarios %}
                                <tr class="odd gradeX">
                                            <td>{{ usuarios.IdPropietario }}</td>
                                            <td>{{ usuarios.Nombres }}</td>
                                            <td>{{ usuarios.Apellidos }}</td>
                                            <td><a href="{% url 'usuarios:verpropietario' usuarios.IdPropietario %}" class="btn btn-sm btn-indigo btn-pill w-100">Ver</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
    </div>
</div>            
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    $('#datatable').DataTable({
      responsive: true,
      paging: true,
      searching: true,
      language: {
        search: "Buscar:",
        lengthMenu: "Mostrar _MENU_ entradas",
        info: "Mostrando _START_ a _END_ de _TOTAL_ entradas",
        paginate: {
          first: "Primero",
          last: "Último",
          next: "Siguiente",
          previous: "Anterior"
        }
      }
    });
  });
</script>
<script>
  // Función para realizar la búsqueda
  function search() {
    var searchTerm = document.getElementById("search-input").value.toLowerCase();
    var items = document.getElementsByClassName("item");

    // Iterar sobre todos los elementos dentro del div #content
    for (var i = 0; i < items.length; i++) {
      var itemText = items[i].innerText.toLowerCase();
      
      // Comprobar si el texto del elemento coincide con el término de búsqueda
      if (itemText.includes(searchTerm)) {
        // Mostrar el elemento si coincide
        items[i].classList.remove("hidden");
      } else {
        // Ocultar el elemento si no coincide
        items[i].classList.add("hidden");
      }
    }
  }

  // También podemos agregar un evento de búsqueda en tiempo real mientras el usuario escribe
  document.getElementById("search-input").addEventListener("input", search);
</script>

{% endblock %}