{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}

{% endblock %}
{%block title %} <title>Modulo - LT</title> {%endblock%}
{% block content %}
{% load humanize %}
{% include 'usuarios/alerts.html' %}
<!-- Titulo -->

 <div class="page-wrapper">
        <div class="container-fluid">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Modulo
                </div>
                <h2 class="page-title">
                  Facturas generadas por el sistema - {{total}}
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
<br>      
<!-- tabla -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    {% for factura in facturas %}
                    <div class="col-sm-2">
                            <a class="card card-link" href="{% url 'usuarios:descargarfactura' factura.IdFactura %}">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-auto">
                                    <span class="avatar rounded">
                                       <!-- Download SVG icon from http://tabler-icons.io/i/download -->
<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" ><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><polyline points="7 11 12 16 17 11" /><line x1="12" y1="4" x2="12" y2="16" /></svg>
                                    </span>
                                  </div>
                                  <div class="col">
                                    <div class="font-weight-medium">{{ factura.IdFactura }}</div>
                                    <div class="text-muted">{{ factura.Total|intcomma }}</div>
                                  </div>
                                  <div class="col-auto">
                                  </div>
                                </div>
                              </div>
                        </a>
                         <br>
                    </div>

                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>           
{% endblock %}
{% block scripts %}
{% endblock %}