{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}

{% endblock %}
{%block title %} <title>Predios</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}
<!-- Titulo -->
      <div class="page-wrapper">
        <div class="container-fluid">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Modulo
                </div>
                <h2 class="page-title">
                  Predios registrados
                </h2>
              </div>
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <span class="d-none d-sm-inline">
                        <form class="table-search-form row gx-1 align-items-center">
                            <div class="col-auto">
                                <input type="text" id="search" name="searchorders" class="form-control search-orders" placeholder="Buscar">
                            </div>
                        </form>
                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<br>      
<!-- tabla -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive" style="height:23rem">
                    <table class="table card-table table-vcenter text-nowrap datatable" id="datatable" cellspacing="0">
                        <thead>
                            <tr>
								<th>#</th>
                                <th>Matricula</th>
                                <th>Direccion</th>
                                <th>No. Casa</th>
                                <th>Piso</th>
                                <th>Tipo intalacion</th>
                                <th>Tipo de predio</th>
                                <th>Estado servicio</th>
                                <th>Titular</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% for viviendas in viviendas %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ viviendas.IdVivienda }}</td>
                                <td>{{ viviendas.Direccion }}</td>
                                <td>{{ viviendas.NumeroCasa }}</td>
                                <td>{{ viviendas.Piso }}</td>
                                <td class="center">{{ viviendas.TipoInstalacion }}</td>
                                
                                <td>{{ viviendas.InfoInstalacion }}</td>
                                <td>{{ viviendas.EstadoServicio }}</td>
                                <td>{{ viviendas.IdPropietario }}</td>
                                <td><span class="dropdown">
                                  <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Opciones</button>
                                  <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="{% url 'usuarios:vervivienda' viviendas.IdVivienda %}">
                                      Ver
                                    </a>
                                    <a class="dropdown-item" href="{% url 'usuarios:modificarvivienda' viviendas.IdVivienda %}">
                                      Modificar
                                    </a>
                                  </div>
                                </span>
                                </td>
                            </tr>
                             {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
 // Write on keyup event of keyword input element
 $(document).ready(function(){
 $("#search").keyup(function(){
 _this = this;
 // Show only matching TR, hide rest of them
 $.each($("#datatable tbody tr"), function() {
 if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
 $(this).hide();
 else
 $(this).show();
 });
 });
});
</script>
{% endblock %}