{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}
<style>
  /* Estilos para ocultar elementos */
  .hidden {
    display: none;
  }
</style>
{% endblock %}
{%block title %} <title>Modulo - LT</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}
<!-- Titulo -->

 <div class="page-wrapper">
        <div class="container-fluid">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Modulo
                </div>
                <h2 class="page-title">
                  Titulares registrados
                </h2>
              </div>
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <span class="d-none d-sm-inline">
                        <form class="table-search-form row gx-1 align-items-center">
                            <div class="col-auto">
                                <input type="text" id="search-input" name="searchorders" class="form-control search-orders" placeholder="Buscar">
                            </div>
                        </form>
                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<br>      
<!-- tabla -->
<div class="item container-xl">
    <div class="row item">
        {% for usuarios in usuarios %}
                    <div class="col-md-6 col-lg-3 item">
                        <br>
                        <div class="card item">
                            <div class="card-body p-4 text-center item">
                                        <span class="avatar avatar-xl mb-3 avatar-rounded" style="background-image: url({% static 'images/logo3.png' %})"></span>
                                        <h3 class="m-0 mb-1 item"><a href="#">{{ usuarios.Nombres }} {{ usuarios.Apellidos }}</a></h3>
                                        <div class="text-muted">{{ usuarios.IdPropietario }}</div>
                                      </div>
                                      <div class="d-flex">
                                        <a href="{% url 'usuarios:verpropietario' usuarios.IdPropietario %}" class="card-btn">
                                         <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                                           Ver informacion</a>
                                      </div>
                                    </div>
                                  </div>
                                  
        {% endfor %}
    </div>
</div>            
{% endblock %}
{% block scripts %}

<script>
  // Función para realizar la búsqueda
  function search() {
    var searchTerm = document.getElementById("search-input").value.toLowerCase();
    var items = document.getElementsByClassName("item");

    // Iterar sobre todos los elementos dentro del div #content
    for (var i = 0; i < items.length; i++) {
      var itemText = items[i].innerText.toLowerCase();
      
      // Comprobar si el texto del elemento coincide con el término de búsqueda
      if (itemText.includes(searchTerm)) {
        // Mostrar el elemento si coincide
        items[i].classList.remove("hidden");
      } else {
        // Ocultar el elemento si no coincide
        items[i].classList.add("hidden");
      }
    }
  }

  // También podemos agregar un evento de búsqueda en tiempo real mientras el usuario escribe
  document.getElementById("search-input").addEventListener("input", search);
</script>

{% endblock %}