{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{%block title %} <title>Modulo - MP</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}
     <div class="page-wrapper">
        <div class="container-fluid">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Modulo
                </div>
                <h2 class="page-title">
                 Mapa de redes de distribucion
                </h2>
              </div>
             <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <a href="{% url 'usuarios:inicio' %}" class="btn btn-primary w-100">Volver
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<br>
<div class="card-body">
<div class="row">
    <div class="col-12">
        <iframe src="https://www.google.com/maps/d/embed?mid=1VyxstOKM9XN3nVVel1iK60V63wWiGMAp" width="100%" height="500"></iframe>
    </div>
    </div>
    </div>

{% endblock %}
{% block scripts %}

{% endblock %}