{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{%block title %} <title>Modulo - LOG</title> {%endblock%}
{% block content %}
{% load humanize %}
{% include 'usuarios/alerts.html' %}
<!-- Titulo -->
      <div class="page-wrapper">
        <div class="container-fluid">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Modulo
                </div>
                <h2 class="page-title">
                  Asignacion de matricula
                </h2>
              </div>
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <span class="d-none d-sm-inline">
                        <a href="" class="btn btn-primary btn-sm w-100">
                            Matricula
                        </a>
                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<br>      
<!-- tabla -->
<div class="row">
    <div class="col-12">
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="d-flex align-items-center">

                      <span class="avatar me-3 rounded">CC</span>
                      <div>
                        <div>Caimalito centro</div>
                        <div class="text-muted">Sector</div>
                      </div>
                      <div class="ms-auto">
                        <a href="#" class="text-muted">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                          {{cc}}
                        </a>
                      </div>
                    </div>
                    <br>
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <a href="" data-bs-toggle="modal" data-bs-target="#caimalitocentro"><span class="bg-red-lt avatar"><!-- Download SVG icon from http://tabler-icons.io/i/arrow-down -->
                        
                          <span class="float-right font-weight-medium text-red">{{ecc}}</span>
                        </span>
                        </a>
                        
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          
                        </div>
                        <div class="text-muted">
                          Matriculas disponibles
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <span class="avatar me-3 rounded">BN</span>
                      <div>
                        <div>Barrio nuevo</div>
                        <div class="text-muted">Sector</div>
                      </div>
                      <div class="ms-auto">
                        <a href="#" class="text-muted">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                          {{bn}}
                        </a>
                      </div>
                    </div>
                    <br>
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <a href="" data-bs-toggle="modal" data-bs-target="#barrionuevo"><span class="bg-red-lt avatar"><!-- Download SVG icon from http://tabler-icons.io/i/arrow-down -->
                           <span class="float-right font-weight-medium text-red">{{ebn}}</span>
                        </span>
                        </a>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                         
                        </div>
                        <div class="text-muted">
                          Matriculas disponibles
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <span class="avatar me-3 rounded">VJ</span>
                      <div>
                        <div>20 de Julio</div>
                        <div class="text-muted">Sector</div>
                      </div>
                      <div class="ms-auto">
                        <a href="#" class="text-muted">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                         {{vj}}
                        </a>
                      </div>
                    </div>
                    <br>
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-red-lt avatar"><!-- Download SVG icon from http://tabler-icons.io/i/arrow-down -->
                             <a href="" data-bs-toggle="modal" data-bs-target="#vjulio"><span class="bg-red-lt avatar"><!-- Download SVG icon from http://tabler-icons.io/i/arrow-down -->
                           <span class="float-right font-weight-medium text-red">{{evj}}</span>
                        </span>
                        </a>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                         </div>
                        <div class="text-muted">
                          Matriculas disponibles
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <span class="avatar me-3 rounded">PNV</span>
                      <div>
                        <div>Pasonivel viejo</div>
                        <div class="text-muted">Sector</div>
                      </div>
                      <div class="ms-auto">
                        <a href="#" class="text-muted">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                          {{pnv}}
                        </a>
                      </div>
                    </div>
                    <br>
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <a href="" data-bs-toggle="modal" data-bs-target="#pasonivelv"><span class="bg-red-lt avatar"><!-- Download SVG icon from http://tabler-icons.io/i/arrow-down -->
                          <span class="float-right font-weight-medium text-red">{{epnv}}</span>
                        </span>
                        </a>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          
                        </div>
                        <div class="text-muted">
                          Matriculas disponibles
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <span class="avatar me-3 rounded">PND</span>
                      <div>
                        <div>Pasonivel destapada</div>
                        <div class="text-muted">Sector</div>
                      </div>
                      <div class="ms-auto">
                        <a href="#" class="text-muted">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                          {{pnd}}
                        </a>
                      </div>
                    </div>
                    <br>
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <a href="" data-bs-toggle="modal" data-bs-target="#pasoniveld"><span class="bg-red-lt avatar"><!-- Download SVG icon from http://tabler-icons.io/i/arrow-down -->
                          <span class="float-right font-weight-medium text-red">{{epnd}}</span>
                        </span>
                        </a>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          
                        </div>
                        <div class="text-muted">
                          Matriculas disponibles
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <span class="avatar me-3 rounded">HD</span>
                      <div>
                        <div>Hacienda</div>
                        <div class="text-muted">Area</div>
                      </div>
                      <div class="ms-auto">
                        <a href="#" class="text-muted">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                         {{hd}}
                        </a>
                      </div>
                    </div>
                    <br>
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <a href="" data-bs-toggle="modal" data-bs-target="#hacienda"><span class="bg-red-lt avatar"><!-- Download SVG icon from http://tabler-icons.io/i/arrow-down -->
                          <span class="float-right font-weight-medium text-red">{{ehd}}</span>
                        </span>
                        </a>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          
                        </div>
                        <div class="text-muted">
                          Matriculas disponibles
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <span class="avatar me-3 rounded">HD</span>
                      <div>
                        <div>Carbonera</div>
                        <div class="text-muted">Sector</div>
                      </div>
                      <div class="ms-auto">
                        <a href="#" class="text-muted">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                         {{carb}}
                        </a>
                      </div>
                    </div>
                    <br>
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <a href="" data-bs-toggle="modal" data-bs-target="#carbonera"><span class="bg-red-lt avatar"><!-- Download SVG icon from http://tabler-icons.io/i/arrow-down -->
                          <span class="float-right font-weight-medium text-red">{{car }}</span>
                        </span>
                        </a>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          
                        </div>
                        <div class="text-muted">
                          Matriculas disponibles
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <hr>
</div>

    <div class="modal modal-blur fade" id="hacienda" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Matricula disponibles - Hacienda</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
                {% for hd in fhd %}
                <div class="col-sm-6 col-lg-3" style="margin-top: 1rem;">
                <div class="card card-sm">
                      <div class="card-body">
                        <div class="d-flex align-items-center">
                          <span class="avatar me-3 rounded">{{ forloop.counter}}</span>
                          <div>
                            <div>{{ hd.Matricula }}</div>
                            <div class="text-muted">{{hd.Estado}}</div>
                          </div>
                          <div class="ms-auto">
                            <a href="{% url 'usuarios:agregarvivienda' hd.IdBloque %}" class="ms-3 text-muted">
                              <!-- Download SVG icon from http://tabler-icons.io/i/flag-3 -->
                                <!-- Download SVG icon from http://tabler-icons.io/i/circle-plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="9" y1="12" x2="15" y2="12" /><line x1="12" y1="9" x2="12" y2="15" /></svg>
                              Asignar
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

        <div class="modal modal-blur fade" id="pasoniveld" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Matricula disponibles - Pasonivel Destapada</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
                {% for hd in fpnd %}
                <div class="col-sm-6 col-lg-3" style="margin-top: 1rem;">
                <div class="card card-sm">
                      <div class="card-body">
                        <div class="d-flex align-items-center">
                          <span class="avatar me-3 rounded">{{ forloop.counter}}</span>
                          <div>
                            <div>{{ hd.Matricula }}</div>
                            <div class="text-muted">{{hd.Estado}}</div>
                          </div>
                          <div class="ms-auto">
                            <a href="{% url 'usuarios:agregarvivienda' hd.IdBloque %}" class="ms-3 text-muted">
                              <!-- Download SVG icon from http://tabler-icons.io/i/flag-3 -->
                                <!-- Download SVG icon from http://tabler-icons.io/i/circle-plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="9" y1="12" x2="15" y2="12" /><line x1="12" y1="9" x2="12" y2="15" /></svg>
                              Asignar
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-blur fade" id="pasonivelv" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Matricula disponibles - Pasonivel viejo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
                {% for hd in fpnv %}
                <div class="col-sm-6 col-lg-3" style="margin-top: 1rem;">
                <div class="card card-sm">
                      <div class="card-body">
                        <div class="d-flex align-items-center">
                          <span class="avatar me-3 rounded">{{ forloop.counter}}</span>
                          <div>
                            <div>{{ hd.Matricula }}</div>
                            <div class="text-muted">{{hd.Estado}}</div>
                          </div>
                          <div class="ms-auto">
                            <a href="{% url 'usuarios:agregarvivienda' hd.IdBloque %}" class="ms-3 text-muted">
                              <!-- Download SVG icon from http://tabler-icons.io/i/flag-3 -->
                                <!-- Download SVG icon from http://tabler-icons.io/i/circle-plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="9" y1="12" x2="15" y2="12" /><line x1="12" y1="9" x2="12" y2="15" /></svg>
                              Asignar
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="vjulio" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Matricula disponibles - 20 de julio</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
                {% for hd in fvj %}
                <div class="col-sm-6 col-lg-3" style="margin-top: 1rem;">
                <div class="card card-sm">
                      <div class="card-body">
                        <div class="d-flex align-items-center">
                          <span class="avatar me-3 rounded">{{ forloop.counter}}</span>
                          <div>
                            <div>{{ hd.Matricula }}</div>
                            <div class="text-muted">{{hd.Estado}}</div>
                          </div>
                          <div class="ms-auto">
                            <a href="{% url 'usuarios:agregarvivienda' hd.IdBloque %}" class="ms-3 text-muted">
                              <!-- Download SVG icon from http://tabler-icons.io/i/flag-3 -->
                                <!-- Download SVG icon from http://tabler-icons.io/i/circle-plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="9" y1="12" x2="15" y2="12" /><line x1="12" y1="9" x2="12" y2="15" /></svg>
                              Asignar
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-blur fade" id="barrionuevo" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Matricula disponibles - Barrio nuevo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
                {% for hd in fbn %}
                <div class="col-sm-6 col-lg-3" style="margin-top: 1rem;">
                <div class="card card-sm">
                      <div class="card-body">
                        <div class="d-flex align-items-center">
                          <span class="avatar me-3 rounded">{{ forloop.counter}}</span>
                          <div>
                            <div>{{ hd.Matricula }}</div>
                            <div class="text-muted">{{hd.Estado}}</div>
                          </div>
                          <div class="ms-auto">
                            <a href="{% url 'usuarios:agregarvivienda' hd.IdBloque %}" class="ms-3 text-muted">
                              <!-- Download SVG icon from http://tabler-icons.io/i/flag-3 -->
                                <!-- Download SVG icon from http://tabler-icons.io/i/circle-plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="9" y1="12" x2="15" y2="12" /><line x1="12" y1="9" x2="12" y2="15" /></svg>
                              Asignar
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="caimalitocentro" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Matricula disponibles - Barrio nuevo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
                {% for hd in fcc %}
                <div class="col-sm-6 col-lg-3" style="margin-top: 1rem;">
                <div class="card card-sm">
                      <div class="card-body">
                        <div class="d-flex align-items-center">
                          <span class="avatar me-3 rounded">{{ forloop.counter}}</span>
                          <div>
                            <div>{{ hd.Matricula }}</div>
                            <div class="text-muted">{{hd.Estado}}</div>
                          </div>
                          <div class="ms-auto">
                            <a href="{% url 'usuarios:agregarvivienda' hd.IdBloque %}" class="ms-3 text-muted">
                              <!-- Download SVG icon from http://tabler-icons.io/i/flag-3 -->
                                <!-- Download SVG icon from http://tabler-icons.io/i/circle-plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="9" y1="12" x2="15" y2="12" /><line x1="12" y1="9" x2="12" y2="15" /></svg>
                              Asignar
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="modal modal-blur fade" id="carbonera" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Matricula disponibles - Carbonera</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
                {% for carr in fcar %}
                <div class="col-sm-6 col-lg-3" style="margin-top: 1rem;">
                <div class="card card-sm">
                      <div class="card-body">
                        <div class="d-flex align-items-center">
                          <span class="avatar me-3 rounded">{{ forloop.counter}}</span>
                          <div>
                            <div>{{ carr.Matricula }}</div>
                            <div class="text-muted">{{carr.Estado}}</div>
                          </div>
                          <div class="ms-auto">
                            <a href="{% url 'usuarios:agregarvivienda' carr.IdBloque %}" class="ms-3 text-muted">
                              <!-- Download SVG icon from http://tabler-icons.io/i/flag-3 -->
                                <!-- Download SVG icon from http://tabler-icons.io/i/circle-plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="9" y1="12" x2="15" y2="12" /><line x1="12" y1="9" x2="12" y2="15" /></svg>
                              Asignar
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}