{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{% load humanize %}
{%block title %} <title>Modulo admin</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}
<div class="page-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <h3 class="subheader">Usuario</h3>
          <div class="col-auto">
                                <div class="card">
                  <div class="card-body text-center">
                    <div class="mb-3">
                      <span class="avatar avatar-xl avatar-rounded" style="background-image: url({% static 'images/2da.png' %})"></span>
                    </div>
                    <div class="card-title mb-1">{{sigla}}</div>
                    <div class="text-muted">{{ rlegal }}</div>
                    <span class="badge bg-green-lt">{{ estado }}</span>&nbsp;
                  </div>
                  <a href="{% url 'usuarios:modificarempresa' %}" class="card-btn">Actualiar datos</a>
                  <a href="" class="card-btn" data-bs-toggle="modal" data-bs-target="#modal-simple">Ver mas</a>
                </div>
              </div>
              <div class="col-auto" style="margin-top: 0.5rem">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-indigo text-white avatar">
                            <!-- Download SVG icon from http://tabler-icons.io/i/user-circle -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><circle cx="12" cy="10" r="3" /><path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          {{cantusu}}
                        </div>
                        <div class="text-muted">
                          Usuarios
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto" style="margin-top: 0.5rem">
                    <div class="card">
                      <div class="card-body">
                        <p class="mb-3">Almacenamiento usado <strong>{{mb}} MB </strong>of 8 GB</p>
                        <div class="progress progress-separated mb-3">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: {{mb}}%"></div>
                        </div>
                        <div class="row">
                          <div class="col-auto d-flex align-items-center pe-2">
                            <span class="legend me-2 bg-primary"></span>
                            <span>Base de datos</span>
                            <span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">{{bsdatos}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <h3 class="subheader">Usuarios registrados</h3>
          {% for usuario in usuarios %}
          <div class="col-md-4">
            <a class="card card-link" href="{% url 'usuarios:perfilusuario' usuario.IdUsuario %}">
            <div class="card-body">
                    <div class="row">
                      <div class="col-auto">
                        <span class="avatar rounded" style="background-image: url({{ usuario.fotoUsuario.url }})"></span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">{{ usuario.usuid.first_name }}&nbsp;{{ usuario.usuid.last_name }}&nbsp;
                            {% if usuario.usuid.is_active is True %}
                            <span class="badge bg-purple-lt">Activo</span>
                            {% else %}
                            <span class="badge bg-red-lt">Inactivo</span>
                            {% endif %}
                        </div>
                        <div class="text-muted">{{usuario.TipoUsuario}}</div>
                      </div>
                    </div>
                  </div>
            </a>
          </div>
          {%endfor%}
        </div>
        <br>
        <div class="row">
                                 {% for tarifa in activa %}
                                    <div class="col-md-12">
                                      <div class="card" >
                                        <div class="card-header">
                                            <b>Tarifa: </b> &nbsp;&nbsp;
                                            {% if tarifa.Ano == ano %}
                                                <span class="badge badge-pill badge-success">Activa</span>
                                            {% else %}
                                                <span class="badge badge-pill badge-warning">Inactiva</span>
                                            {% endif %}
                                        </div>
                                        <div class="card-body">
                                            <dl class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <h3 class="subheader">Aportes fijos</h3>
                                                        <dt class="col-5">Aporte:</dt>
                                                        <dd class="col-7">${{ tarifa.Valor|intcomma }}</dd>
                                                        <dt class="col-5">Mantenimiento:</dt>
                                                        <dd class="col-7">${{ tarifa.Mantenimiento|intcomma }}</dd>
                                                        <dt class="col-5">Recargo:</dt>
                                                        <dd class="col-7">${{ tarifa.Recargo|intcomma }}</dd>
                                                        <dt class="col-5">Especial:</dt>
                                                        <dd class="col-7">${{ tarifa.especial|intcomma }}</dd>
                                                        <dt class="col-5">Comercial:</dt>
                                                        <dd class="col-7">${{ tarifa.comercial|intcomma }}</dd>
                                                        <dt class="col-5">Industrial:</dt>
                                                        <dd class="col-7">${{ tarifa.industrial|intcomma }}</dd>
                                                        <dt class="col-5">Oficial:</dt>
                                                        <dd class="col-7">${{ tarifa.oficial|intcomma }}</dd>
                                                        <dt class="col-5">Año:</dt>
                                                        <dd class="col-7">{{ tarifa.Ano }}</dd>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <h3 class="subheader">Ordenes</h3>
                                                        <dt class="col-5">Suspencion:</dt>
                                                        <dd class="col-7">${{ tarifa.TarifaSuspencion|intcomma }}</dd>
                                                        <dt class="col-5">Reconexion:</dt>
                                                        <dd class="col-7">${{ tarifa.TarifaReconexion|intcomma }}</dd>
                                                        <h3 class="subheader">Consumo</h3>
                                                        <dt class="col-5">Consumo maximo M3:</dt>
                                                        <dd class="col-7">{{ tarifa.m3 }}</dd>
                                                        <dt class="col-5">Valor M3:</dt>
                                                        <dd class="col-7">${{ tarifa.valormetro|intcomma }}</dd>
                                                        <h3 class="subheader">Vigencia</h3>
                                                        <dt class="col-5">Registro:</dt>
                                                        <dd class="col-7">{{ tarifa.FechaInicial }}</dd>
                                                    </div>
                                                    
                                                </div>  
                                            </dl>
                                        </div>
                                      </div>
                                      <br>
                                    </div>
                                    {%endfor%}
            </div>
            <div class="row">

            </div>
        
      </div>
      <div class="col-md-2">
          <h3 class="subheader">Opciones disponibles</h3>
          <div class="row">
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="{% url 'usuarios:agregarusuarios' %}" class="btn btn-sm btn-indigo btn-pill w-100">Registrar usuario</a>
            </div>
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="{% url 'usuarios:registrotarifa' %}" class="btn btn-sm btn-indigo btn-pill w-100">Registrar tarifa</a>
            </div>
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="" class="btn btn-sm btn-indigo btn-pill w-100" data-bs-toggle="modal" data-bs-target="#modal-simple2">Poblaciones</a>
            </div>
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="" class="btn btn-sm btn-indigo btn-pill w-100" data-bs-toggle="modal" data-bs-target="#modal-simple3">Cargos por conexion</a>
            </div>
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="" class="btn btn-sm btn-indigo btn-pill w-100" data-bs-toggle="modal" data-bs-target="#modal-simple4">Tarifas</a>
            </div>

            <div class="col-md-12" style="margin-top: 0.5rem">

            </div>
            
          </div>
      </div>

    </div>
    <br>
  </div>
</div>


    </div>
</div>




    <div class="modal modal-blur fade" id="modal-simple" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Informacion de la empresa</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                <div class="row" style="margin-top:0.5rem">
                    <div class="col-12">
                        <div class="row text-center">
                            <div class="col-md-6">
                                <h4>Nit</h4>
                                {{ nit|intcomma }}
                            </div>
                            <div class="col-md-5">
                                <h4>Correo</h4>
                                {{ email }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center" style="margin-top:0.5rem">
                    <div class="col-md-6">
                        <h4>Telefono</h4>
                        {{ telefono }}
                    </div>
                    <div class="col-md-6">
                        <h4>Representante legal</h4>
                        {{ legal }}
                    </div>
                </div>
                <div class="row text-center" style="margin-top:0.5rem">
                    <div class="col-12">
                        <div class="row text-center">                     
                            <div class="col-md-12">
                                <h4>Direccion</h4>
                                {{ direccion }}
                            </div>
                        </div>
                    </div>
                </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-blur fade" id="modal-simple2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Clasificacion de suscriptores</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <div class="table-responsive" style="height:15rem">
            <div class="row">
                <div class="col-md-12">
               <a href="{% url 'usuarios:registropoblacion' %}" class="btn btn-sm btn-indigo btn-pill w-100">Agregar tipo de poblacion</a>
            </div>
            </div>
            <br>
            <div class="row">
                <table class="table card-table table-vcenter text-nowrap datatable" id="datatable" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Identificador</th>
                                <th>Descripcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for matricula in poblacion %}
                            <tr>
                                <td>{{ matricula.IdPoblacion }}</td>
                                <td>{{ matricula.Descripcion }}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
            </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-blur fade" id="modal-simple3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cargos por conexion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
               <a href="{% url 'usuarios:registrocostomatricula' %}" class="btn btn-sm btn-indigo btn-pill w-100">Agregar tarifa</a>
            </div>
            </div>
            <br>
             <div class="table-responsive" style="height:15rem">
                    <table class="table card-table table-vcenter text-nowrap datatable" id="datatable" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Identificador</th>
                                <th>Valor</th>
                                <th>Fecha de registro</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for matricula in matriculas %}
                            <tr>
                                <td>{{ matricula.IdValor }}</td>
                                <td>${{ matricula.Valor|intcomma }}</td>
                                <td>${{ matricula.Fecha }}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-simple4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Tarifas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="table-responsive" style="height:15rem">
                    <table class="table card-table table-vcenter text-nowrap datatable" id="datatable" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Identificador</th>
                                <th>Aporte fijo</th>
                                <th>Mantenimiento</th>
                                <th>Recargo</th>
                                <th>Reconexion</th>
                                <th>Suspencion</th>
                                <th>Comercial</th>
                                <th>Industrial</th>
                                <th>oficial</th>
                                <th>Especial</th>
                                <th>Valor M3</th>
                                <th>Max m3</th>
                                <th>Año</th>
                                <th>Fecha de registro</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tarifa in tarifas %}
                            <tr>
                                <td>{{ tarifa.IdTarifa }}</td>
                                <td>${{ tarifa.Valor|intcomma }}</td>
                                <td>${{ tarifa.Mantenimiento|intcomma }}</td>
                                <td>${{ tarifa.Recargo|intcomma }}</td>
                                <td>${{ tarifa.TarifaReconexion|intcomma }}</td>
                                <td>${{ tarifa.TarifaSuspencion|intcomma }}</td>
                                <td>${{ tarifa.comercial|intcomma }}</td>
                                <td>${{ tarifa.industrial|intcomma }}</td>
                                <td>${{ tarifa.oficial|intcomma }}</td>
                                <td>${{ tarifa.especial|intcomma }}</td>
                                <td>${{ tarifa.valormetro|intcomma }}</td>
                                <td>{{ tarifa.m3 }}</td>
                                <td>{{ tarifa.Ano }}</td>
                                <td>{{ tarifa.FechaInicial }}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}