{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{% load humanize %}
{%block title %} <title>Modulo admin</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}

<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <ul class="nav nav-tabs" data-bs-toggle="tabs">
                    <li class="nav-item">
                      <a href="#tabs-home-7" class="nav-link active" data-bs-toggle="tab">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>Inicio
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#tabs-profile-7" class="nav-link" data-bs-toggle="tab">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><rect x="9" y="3" width="6" height="4" rx="2" /><path d="M9 14h.01" /><path d="M9 17h.01" /><path d="M12 16l1 1l3 -3" /></svg>&nbsp;Informacion detallada
                    </a>
                    </li>
                    <li class="nav-item">
                      <a href="#tabs-profile-8" class="nav-link" data-bs-toggle="tab">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><rect x="9" y="3" width="6" height="4" rx="2" /><path d="M9 14h.01" /><path d="M9 17h.01" /><path d="M12 16l1 1l3 -3" /></svg>&nbsp;Usuarios del sistema
                    </a>
                    </li>
                    <li class="nav-item">
                      <a href="#tabs-profile-9" class="nav-link" data-bs-toggle="tab">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><rect x="9" y="3" width="6" height="4" rx="2" /><path d="M9 14h.01" /><path d="M9 17h.01" /><path d="M12 16l1 1l3 -3" /></svg>&nbsp;Cargos por conexión
                    </a>
                    </li>
                    <li class="nav-item">
                      <a href="#tabs-profile-10" class="nav-link" data-bs-toggle="tab">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><rect x="9" y="3" width="6" height="4" rx="2" /><path d="M9 14h.01" /><path d="M9 17h.01" /><path d="M12 16l1 1l3 -3" /></svg>&nbsp;Clasificacion de persona
                    </a>
                    </li>
                    <li class="nav-item ms-auto">
                      <a href="#tabs-settings-7" class="nav-link" title="Settings" data-bs-toggle="tab"><!-- Download SVG icon from http://tabler-icons.io/i/settings -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" /><circle cx="12" cy="12" r="3" /></svg>
                      </a>
                    </li>

                  </ul>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active show" id="tabs-home-7">
                        <div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="row">
                                        <div class="col-md-4 col-lg-3">
                                            <div class="card">
                                              <div class="card-body p-4 text-center">
                                                <span class="avatar avatar-xl mb-3" style="background-image: url({% static 'images/2da.png' %})"></span>
                                                <h3 class="m-0 mb-1">{{razonsocial}}</h3>
                                                <div class="text-muted"><a href="">{{ propietario }}</a></div>
                                                <div class="mt-3">
                                                    <span class="badge bg-green-lt">{{ estado }}</span>&nbsp;
                                                </div>
                                              </div>
                                              <div class="d-flex">
                                                <a href="{% url 'usuarios:modificarempresa' %}" class="card-btn"><!-- Download SVG icon from http://tabler-icons.io/i/pencil -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" /><line x1="13.5" y1="6.5" x2="17.5" y2="10.5" /></svg>
                                                  Modificar informacion</a>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-4 col-lg-6">
                                            <div class="row" style="margin-top:0.5rem">
                                                <div class="col-12">
                                                    <h3 class="subheader">Informacion de la empresa</h3>
                                                    <div class="row text-center">
                                                        <div class="col-4 col-sm-4">
                                                            <h4>Nit</h4>
                                                            {{ nit|intcomma }}
                                                        </div>
                                                        <div class="col-5 col-sm-5">
                                                            <h4>Correo</h4>
                                                            {{ email }}
                                                        </div>
                                                        <div class="col-3 col-sm-3">
                                                            <h4>Telefono</h4>
                                                             {{ telefono }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:0.5rem">
                                                <div class="col-12">
                                                    <div class="row text-center">
                                                        <div class="col-6 col-sm-6">
                                                            <h4>Representante legal</h4>
                                                            {{ legal }}
                                                        </div>
                                                        <div class="col-6 col-sm-6">
                                                            <h4>Direccion</h4>
                                                            {{ direccion }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    <hr>
                                    <div class="row" style="margin-top:0.5rem">
                                        <div class="col-6">
                                            <h3 class="subheader">Ultima factura</h3>
                                            {% for factura in facturasemi %}
                                            <div class="card">
                                              <div class="card-body p-4 text-center">
                                                <h3 class="m-0 mb-1">{{ factura.IdFactura }}</h3>
                                                <div class="text-muted">{{ factura.IdCiclo }}</div>
                                                <div class="mt-3">
                                                    {% if factura.Estado == "Vencida" %}
                                                    <span class="badge bg-warging-lt">Vencida</span>&nbsp;
                                                    {% elif factura.Estado == "Paga" %}
                                                     <span class="badge bg-success-lt">Paga</span>&nbsp;
                                                     {% elif factura.Estado == "Anulada" %}
                                                    <span class="badge bg-purple-lt">Anulada</span>&nbsp;
                                                    {% else %}
                                                    <span class="badge bg-info-lt">Emitida</span>
                                                    {% endif %}
                                                </div>
                                              </div>
                                              <div class="d-flex">
                                                <a href="{% url 'usuarios:descargarfactura' factura.IdFactura %}" class="card-btn">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><polyline points="7 11 12 16 17 11" /><line x1="12" y1="4" x2="12" y2="16" /></svg>&nbsp; Descargar
                                                  </a>
                                              </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-6">
                                            <h3 class="subheader">Ultimo pago</h3>
                                            {%for filtropago in ultimopago %}
                                            <div class="card">
                                              <div class="card-body p-4 text-center">
                                                <h3 class="m-0 mb-1">{{ filtropago.IdPago }}</h3>
                                                <div class="text-muted"> {{filtropago.FechaPago}}  </div>
                                                <div class="mt-3">
                                                    <span class="badge bg-warging-lt">{{ filtropago.IdFactura }}</span>&nbsp;
                                                    <span class="badge bg-warging-lt">${{ filtropago.ValorPago|intcomma }}</span>&nbsp;
                                                </div>
                                              </div>
                                              <div class="d-flex">
                                                <a href="{% url 'usuarios:imprimirpago' filtropago.IdPago %}" class="card-btn">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" /><path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" /><rect x="7" y="13" width="10" height="8" rx="2" /></svg>&nbsp; Imprimir
                                                  </a>
                                              </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                     </div>
                                    <br>
                                          </div>
                                          <div class="col-md-4 col-lg-3">
                                            <h3 class="subheader">Estado de cuenta</h3>
                                             <table class="table table-transparent table-responsive">
                                              <thead>
                                                <tr>
                                                  <th>Descripción</th>
                                                  <th class="text-end" style="width: 1%">Cuotas</th>
                                                  <th class="text-end" style="width: 1%">Valor</th>
                                                </tr>
                                              </thead>
                                              <tr>
                                                <td>
                                                  <p class="strong mb-1">Aportes</p>
                                                  <div class="text-muted">{{estadocuenta}}</div>
                                                </td>
                                                <td class="text-end">0</td>
                                                <td class="text-end"> ${{ aportes|intcomma }}</td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <p class="strong mb-1">Matricula</p>
                                                  <div class="text-muted">{{nocuenta}}</div>
                                                </td>
                                                <td class="text-end">0</td>
                                                <td class="text-end"> ${{ cobromatricula1|intcomma }}</td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <p class="strong mb-1">Suspención</p>
                                                  <div class="text-muted">Auto</div>
                                                </td>
                                                <td class="text-end">0</td>
                                                <td class="text-end"> ${{ suspenciones2|intcomma }}</td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <p class="strong mb-1">Reconexión</p>
                                                  <div class="text-muted">Auto</div>
                                                </td>
                                                <td class="text-end">0</td>
                                                <td class="text-end"> ${{ reconexion2|intcomma }}</td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <p class="strong mb-1">Reparaciones</p>
                                                  <div class="text-muted">Auto</div>
                                                </td>
                                                <td class="text-end">0</td>
                                                <td class="text-end"> $0</td>

                                              <tr>
                                                <td colspan="2" class="font-weight-bold text-uppercase text-end">Total</td>
                                                <td class="font-weight-bold text-end">${{total|intcomma}}</td>
                                              </tr>
                                            </table>
                                          </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="tabs-profile-7">
                            <div class="row">
                                 {% for tarifa in tarifas %}
                                    <div class="col-md-3 col-lg-3">
                                      <div class="card" >
                                        <div class="card-header">
                                            <b class="text-primary">Identificador de tarifa: </b> &nbsp;{{ tarifa.IdTarifa }}&nbsp;
                                            {% if tarifa.Ano == ano %}
                                                <span class="badge badge-pill badge-success">Activa</span>
                                            {% else %}
                                                <span class="badge badge-pill badge-warning">Inactiva</span>
                                            {% endif %}
                                        </div>
                                        <div class="card-body">
                                            <dl class="row">
                                              <h3 class="subheader">Aportes fijos</h3>
                                                <dt class="col-5">Unifamiliar:</dt>
                                                <dd class="col-7">${{ tarifa.Valor|intcomma }}</dd>
                                                <dt class="col-5">Bifamiliar:</dt>
                                                <dd class="col-7">${{ tarifa.bifamiliar|intcomma }}</dd>
                                                <dt class="col-5">Manteni..to:</dt>
                                                <dd class="col-7">${{ tarifa.Mantenimiento|intcomma }}</dd>
                                                <dt class="col-5">Recargo:</dt>
                                                <dd class="col-7">${{ tarifa.Recargo|intcomma }}</dd>
                                                <dt class="col-5">Especial:</dt>
                                                <dd class="col-7">${{ tarifa.especial|intcomma }}</dd>
                                                <dt class="col-5">Multifa... * P:</dt>
                                                <dd class="col-7">${{ tarifa.multifamiliar|intcomma }}</dd>
                                                <h3 class="subheader">Ordenes</h3>
                                                <dt class="col-5">Suspencion:</dt>
                                                <dd class="col-7">${{ tarifa.TarifaSuspencion|intcomma }}</dd>
                                                <dt class="col-5">Reconexion:</dt>
                                                <dd class="col-7">${{ tarifa.TarifaReconexion|intcomma }}</dd>
                                                <h3 class="subheader">Vigencia</h3>
                                                <dt class="col-5">Registro:</dt>
                                                <dd class="col-7">{{ tarifa.FechaInicial }}</dd>
                                                <dt class="col-5">Año:</dt>
                                                <dd class="col-7">{{ tarifa.Ano }}</dd>
                                            </dl>
                                        </div>
                                      </div>
                                      <br>
                                    </div>
                                    {%endfor%}
                            </div>
                                   
                      </div>
                      <div class="tab-pane" id="tabs-profile-8">
                        <div class="row align-items-center">
                            <div class="col">
                                </div>
                                <div class="col-auto">
                                   
                                </div>
                             <div class="col-auto ms-auto d-print-none">
                                <div class="btn-list">
                                    <div class="col-auto">
                                        <a href="{% url 'usuarios:agregarusuarios' %}" class="btn btn-primary btn-sm w-100">Agregar usuario
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for usuario in usuarios %}
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                  <div class="card-body p-4 text-center">
                                    <span class="avatar avatar-xl mb-3 avatar-rounded" style="background-image: url({{ usuario.fotoUsuario.url }})"></span>
                                    <h4 class="m-0 mb-1"><a href="#">{{ usuario.usuid.first_name }} {{ usuario.usuid.last_name }}</a></h4>
                                    <div class="text-muted">{{usuario.TipoUsuario}}</div>
                                        <div class="mt-3">
                                            {% if usuario.usuid.is_active is True %}
                                                <span class="badge bg-purple-lt">Activo</span>
                                            {% else %}
                                                <span class="badge bg-red-lt">Inactivo</span>
                                            {% endif %}
                                          
                                        </div>
                                    <div class="text-muted">
                                        
                                    </div>
                                  </div>
                                  <div class="d-flex">
                                    <a href="{% url 'usuarios:perfilusuario' usuario.IdUsuario %}" class="card-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                                       Ver perfil </a>
                                  </div>
                                </div>
                              </div>
                            {%endfor%}
                        </div>
                      </div>
                      <div class="tab-pane" id="tabs-profile-9">
                        <div class="row align-items-center">
                              <div class="col">
                              </div>
                            <div class="col-auto">
                               
                            </div>
                            <div class="col-auto ms-auto d-print-none">
                                <div class="btn-list">
                                    <div class="col-auto">
                                        <a href="{% url 'usuarios:registrocostomatricula' %}" class="btn btn-primary btn-sm w-100">Agregar tarifa
                                        </a>
                                    </div>
                                </div>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                                    {% for matricula in matriculas %}
                                    <div class="col-md-6 col-lg-4">
                                      <div class="card" >
                                        <div class="card-body">
                                            <dl class="row">
                                              <h3 class="subheader">Informacion de la tarifa - cargo por conexion</h3>
                                                <dt class="col-5">No tarifa:</dt>
                                                <dd class="col-7">{{ matricula.IdValor }}</dd>
                                                <dt class="col-5">Valor:</dt>
                                                <dd class="col-7">{{ matricula.Valor|intcomma }}</dd>
                                                <dt class="col-5">Fecha:</dt>
                                                <dd class="col-7">{{ matricula.Fecha }}</dd>
                                            </dl>
                                        </div>
                                      </div>
                                      <br>
                                    </div>

                                    {%endfor%}
                        </div>
                      </div>
                      <div class="tab-pane" id="tabs-profile-10">
                                                <div class="row align-items-center">
                              <div class="col">
                              </div>
                            <div class="col-auto">
                               
                            </div>
                            <div class="col-auto ms-auto d-print-none">
                                <div class="btn-list">
                                    <div class="col-auto">
                                        <a href="{% url 'usuarios:registropoblacion' %}" class="btn btn-primary btn-sm w-100">Agregar clasificacion
                                        </a>
                                    </div>
                                </div>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                                   {% for matricula in poblacion %}
                                    <div class="col-md-6 col-lg-4">
                                      <div class="card" >
                                        <div class="card-body">
                                            <dl class="row">
                                              <h3 class="subheader">Informacion de clasificacion</h3>
                                                <dt class="col-5">No clasificacion:</dt>
                                                <dd class="col-7">{{ matricula.IdPoblacion }}</dd>
                                                <dt class="col-5">Descripcion:</dt>
                                                <dd class="col-7">{{ matricula.Descripcion }}</dd>
                                            </dl>
                                        </div>
                                      </div>
                                      <br>
                                    </div>

                                    {%endfor%}
                        </div>
                    </div>
                      <div class="tab-pane" id="tabs-settings-7">
                        <div>
                            <div class="btn-group" role="group" style="margin-top:0.3rem;">
                                  <a class="btn btn-primary" href="">Cambiar propietario</a>&nbsp;
                                    <a class="btn btn-primary" href="">Generar factura</a>&nbsp;
                                    <a class="btn btn-primary" href="">Pago matricula</a>

                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}