{% extends 'usuarios/base_usuario2.html' %}
{% load static %}
{% block styles %}

{% endblock %}
{%block title %} <title>Registro de suscriptores</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}
<!-- Titulo -->
<div class="row">
    <div class="col-sm-12">
        <h1 class="h3 text-gray-800">Registro de información del suscriptor</h1>
    </div>
</div>

<div class="row" style="margin-top: 1rem;">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-8">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            <div class="form-group no-padding-t no-border-t panel-padding-h">
                                {{ field.errors }}
                                <label for="" class="col-sm-8 control-label">
                                    <strong>{{ field.label }}</strong>
                                </label>
                                <div class="col-sm-8">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row text-center" >
                            <div class="col-sm-4" style="margin-top: 1rem;">
                                <button style="width: 80%;" type="submit" class="btn btn-primary ">Registrar</button>
                            </div>
                        <br>
                            <div class="col-sm-4" style="margin-top: 1rem;">
                                <button style="width: 80%;" onclick="window.location='{% url 'usuarios:listaviviendas' %}'" class="btn btn-primary ">Cancelar</button>
                            </div>
                        </div>
                        
                    </form>             
            </div>
            <div class="col-sm-1">
                
            </div>

</div>

{% endblock %}
{% block scripts %}

{% endblock %}