{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}

{% endblock %}
{%block title %} <title>Modulo - RT</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}
<!-- Titulo -->
      <div class="page-wrapper">
        <div class="container-fluid">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Modulo
                </div>
                <h2 class="page-title">
                  Registro unico de proveedores
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
<br>
<div class="card-body">
<div class="row">
    <div class="col-sm-3">
        
    </div>
    <div class="col-sm-6">
        <form method="post" enctype="multipart/form-data" class="card">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="card-body">
            {% for field in form %}
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-md-6 col-xl-12">
                            <div class="mb-3">
                            {{ field.errors }}
                              <label class="form-label">{{ field.label }}</label>
                              {{ field }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-sm-6" style="margin-top: 1rem;">
                    <button style="width: 100%;" type="submit" class="btn btn-primary ">Registrar</button>
                </div>
                <div class="col-sm-6" style="margin-top: 1rem;">
                    <button style="width: 100%;" onclick="window.location='{% url 'usuarios:controlpresupuestal' %}'" class="btn btn-primary ">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
    </div>
    </div>
    </div>                 

{% endblock %}
{% block scripts %}

{% endblock %}