{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}

{% endblock %}
{%block title %} <title>Registro de suscriptores</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}
<!-- Titulo -->
     <div class="page-wrapper">
        <div class="container-fluid">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Modulo
                </div>
                <h2 class="page-title">
                  Registro de información del predio
                </h2>
              </div>

            </div>
          </div>
        </div>
      </div> 
</div>
<div class="row">
            <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-lg-9">
                <div class="card card-lg">
                  <div class="card-body">
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row">
                          <div class="col-md-12">
                              <div class="row">
                                  <div class="col-md-4">
                                      <label class="form-label">{{form.Direccion.label}}</label>
                                     {{form.Direccion}}
                                  </div>
                                   <div class="col-md-2">
                                      <label class="form-label">{{form.NumeroCasa.label}}</label>
                                     {{form.NumeroCasa}}
                                  </div>
                                  <div class="col-md-2">
                                      <label class="form-label">{{form.Piso.label}}</label>
                                     {{form.Piso}}
                                  </div>
                                  <div class="col-md-2">
                                      <label class="form-label">{{form.Estrato.label}}</label>
                                     {{form.Estrato}}
                                  </div>
                                  <div class="col-md-2">
                                    <label class="form-label">{{form.InfoInstalacion.label}}</label>
                                    {{form.InfoInstalacion}}
                                  </div>
                              </div>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-4">
                           <label class="form-label">{{form.Ciclo.label}}</label>
                            {{form.Ciclo}}
                          </div>
                          <div class="col-md-3">
                           <label class="form-label">{{form.TipoInstalacion.label}}</label>
                            {{form.TipoInstalacion}}
                          </div>
                          <div class="col-md-3">
                           <label class="form-label">{{form.FichaCastral.label}}</label>
                            {{form.FichaCastral}}
                          </div>
                          <div class="col-md-2">
                           <label class="form-label">{{form.CantPredios.label}}</label>
                            {{form.CantPredios}}
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-6">
                           <label class="form-label">{{form.IdPropietario.label}}</label>
                            <input class="form-control" type="number" name="IdPropietario" id="IdPropietario">
                              <small id="id-feedback" class="form-text"></small>
                          </div>
                          <div class="col-md-3">
                           <label class="form-label">{{form.EstadoServicio.label}}</label>
                            {{form.EstadoServicio}}
                          </div>
                          <div class="col-md-3">
                           <label class="form-label">{{form.Diametro.label}}</label>
                            {{form.Diametro}}
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-4">
                           <label class="form-label">{{form.MatriculaAnt.label}}</label>
                            {{form.MatriculaAnt}}
                          </div>
                          <div class="col-md-3">
                           <label class="form-label">{{form.ProfAcometida.label}}</label>
                            {{form.ProfAcometida}}
                          </div>
                          <div class="col-md-3">
                           <label class="form-label">{{form.CantHabitantes.label}}</label>
                            {{form.CantHabitantes}}
                          </div>
                          <div class="col-md-2">
                           <label class="form-label">{{form.TipoRecaudo.label}}</label>
                            {{form.TipoRecaudo}}
                          </div>
                        </div>
                        <div class="row">
                <div class="col-md-6" style="margin-top: 1rem;">
                    <button style="width: 100%;" type="submit" class="btn btn-primary ">Registrar</button>
                </div>
                <div class="col-md-6" style="margin-top: 1rem;">
                  <a href="{% url 'usuarios:inicio' %}" class="btn btn-primary w-100">
                            Cancelar
                        </a>
                </div>
            </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                      <div class="me-3">
                        <!-- Download SVG icon from http://tabler-icons.io/i/scale -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="7" y1="20" x2="17" y2="20" /><path d="M6 6l6 -1l6 1" /><line x1="12" y1="3" x2="12" y2="20" /><path d="M9 12l-3 -6l-3 6a3 3 0 0 0 6 0" /><path d="M21 12l-3 -6l-3 6a3 3 0 0 0 6 0" /></svg>
                      </div>
                      <div>
                        <small class="text-muted">La matricula sera asignada previamente</small>
                        <h3 class="lh-1">teniendo en cuenta el año de registro y la cantidad de predios registrados</h3>
                      </div>
                    </div>
                    <div class="text-muted mb-3">
                      Para realizar el registro de un predio, debe estar registrado el titular previamente.
                    </div>
                    <h4>Permisos</h4>
                    <ul class="list-unstyled space-y-1">
                      <li><!-- Download SVG icon from http://tabler-icons.io/i/check -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon text-green" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                        Modificar alguna informacion</li>
                      
                    </ul>
                    <h4>Limitaciones</h4>
                    <ul class="list-unstyled space-y-1">
                      <li><!-- Download SVG icon from http://tabler-icons.io/i/x -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon text-red" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
                        Luego de registrado el predio no podra modificar el numero de la matricula, ni el numero de cuenta asignado</li>
                      <li>
                    </ul>
                    <h4>Condiciones</h4>
                    <ul class="list-unstyled space-y-1">
                      <li><!-- Download SVG icon from http://tabler-icons.io/i/info-circle -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon text-blue" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="12" y1="8" x2="12.01" y2="8" /><polyline points="11 12 12 12 12 16 13 16" /></svg>
                        Si asigno mal el numero de matricula, comuniquese con el administrador del sistema</li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
</div>
{% endblock %}
{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    const inputField = document.getElementById("IdPropietario");
    const feedback = document.getElementById("id-feedback");

    if (inputField) {
        inputField.addEventListener("input", function() {
            const identificacion = this.value;

            if (identificacion.length > 0) {
                fetch(`/usuarios/validaciones/?IdPropietario=${identificacion}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.existe) {
                            feedback.textContent = "El propietario está registrado.";
                            feedback.style.color = "green";
                        } else {
                            feedback.textContent = "El propietario no está registrado.";
                            feedback.style.color = "red";
                        }
                    })
                    .catch(error => {
                        feedback.textContent = "Error al validar el propietario.";
                        feedback.style.color = "orange";
                        console.error("Error en la validación:", error);
                    });
            } else {
                feedback.textContent = "";
            }
        });
    }
});

</script>
{% endblock %}