{% extends 'usuarios/base_usuario.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{%block title %} <title>Registro PQRS</title> {%endblock%}
{% block content %}
<!-- CONTENIDO -->
	{% include 'usuarios/alerts.html' %}
<div id="content-wrapper">
	<div class="page-header">
		<h1><b>Registro de PQRS</b></h1>
	</div>
	<div class="row">
	<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="col-sm-6">
				<label class="control-label">Numero de identificación</label>
					<input style="margin-bottom: 1rem" name="identificacion" type="text" class="form-control">
				<label class="control-label">Nombre completo</label>
					<input style="margin-bottom: 1rem" name="nombrecompleto" type="text" class="form-control">
				<label class="control-label">Telefono o Celular</label>
					<input style="margin-bottom: 1rem" name="celular" type="text" class="form-control">
				<label class="control-label">Correo electronico</label>
					<input style="margin-bottom: 1rem" name="email" type="email" class="form-control">	
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
						<label class="control-label">Dirección de correspondencia</label>
					<input style="margin-bottom: 1rem" name="direccion" type="text" class="form-control">
					</div>				
					<div class="col-sm-12">
						<label class="control-label">Tipo de solicitud</label>
						<select name="tiposolicitud" class="form-control form-group-margin">
							<option>Solicitud</option>
							<option>Queja</option>
							<option>Reclamo</option>
							<option>Felicitacion</option>
							<option>Peticion</option>
						</select>	
					</div>
					<div class="col-sm-12">
						<label class="control-label">Anonimo</label>
						<select name="anonimo" class="form-control form-group-margin">
							<option>Si</option>
							<option>No</option>
						</select>	
					</div>	
					<div class="col-sm-12">
						<script>
							init.push(function () {
								$('#styled-finputs-example').pixelFileInput({ placeholder: 'No file selected...' });
							})
						</script>
							<label class="control-label">Seleccionar soporte</label>
						<input style="margin-bottom: 1rem" name="soporte" type="file" id="styled-finputs-example">	
					</div>
						 
					
				</div>
			</div>
			
		</div>
		<br>
		<div class="row">
			<div class="col-sm-12">
				<label class="control-label" for="inputDefault-4">Descripcion</label>
				<textarea name="descripcion" class="form-control" rows="4"></textarea>
			</div>
		</div>
		<br>
		<script>
			init.push(function () {
				$('#loading-example-btn').click(function () {
					var btn = $(this);
					btn.button('loading');
					setTimeout(function () {
						btn.button('reset');
					}, 1500);
				});
			});
		</script>
		<div class="row">
			<button type="submit" id="loading-example-btn" data-loading-text="Radicando solicitud..." class="btn btn-primary" style="width: 100%">Registrar</button>
		</div>
	</form>
	<br>
	<div class="row">
		<button onclick="window.location='{% url 'usuarios:listapqrs' %}'" id="loading-example-btn" data-loading-text="Descargando..." class="btn btn-primary" style="width: 100%">Cancelar</button>
	</div>
	</div>
	<div id="main-menu-bg">
		
	</div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}