{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
<style>
    /* Estilos opcionales para hacer el div visible */
    #miDiv {
        display: none;
        margin-top: 10px;
        padding: 10px;
        background-color: lightblue;
    }
    
    /* Mostrar el div cuando la opción 1 está seleccionada */
    #opcion1:checked ~ #miDiv {
        display: block;
    }
</style>
{% block styles %}
{% load humanize %}
{% endblock %}
{%block title %} <title>Factura #{{factura}}</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}


<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class=" md-0 card-title">Informacion del predio</h3>
                            </div>
                            <div class="card-body">
                                <div class="row text-center">
                                    <div class="col-6">
                                        <b class="text-primary">Matricula</b><br>
                                        <p style="color:rgba(38, 35, 197 ); font-size: 1rem;n"><b><a href="{% url 'usuarios:vervivienda' matricula %}"> {{matricula}}</a></b></p>
                                    </div>
                                    <div class="col-6">
                                        <b>Sector</b><br>
                                        <p>{{ sector }}</p>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-6">
                                        <b>Casa</b><br>
                                        <p>{{casa}}</p>
                                    </div>
                                    <div class="col-6">
                                        <b>Piso</b><br>
                                        <p><b>{{piso}}</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class=" md-0 card-title">Informacion factura</h3>
                            </div>
                            <div class="card-body">
                                <div class="row text-center">
                                    <div class="col-4 col-sm-4">
                                        <b>Numero de factura</b><br>
                                        <p style="color:rgba(65,160,39); font-size: 1rem;n"><b> {{factura}}</b></p>
                                    </div>
                                    <div class="col-4 col-sm-4">
                                        <b>Ciclo facturado</b><br>
                                        <p style="color:rgba(65,160,39); font-size: 1.0rem;n"><b>{{ciclo}}</b></p>
                                    </div>
                                    <div class="col-4 col-sm-4">
                                        <b>Estado</b><br>
                                        <p>{{estadofactura}}</p>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-12 col-sm-12">
                                        <b>Fecha de expedición</b><br>
                                        <p>{{fe}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card">
                    <div class="card-header">
                        <h3 class=" md-0 card-title">Conceptos facturados</h3>
                    </div>
                    <div class="card-body">
                        <div class="row text-center">
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                  <thead>
                                                              <tr>
                                                                  <th>No registro</th>
                                                                  <th>Aporte Fijo</th>
                                                                  <th>Complementario</th>
                                                                  <th>Cuota matricula</th>
                                                                  <th>Suspencion</th>
                                                                  <th>Reconexion</th>
                                                                  <th>Recargo</th>
                                                                  <th>Subsidio</th>
                                                                  <th>Acuerdo pago</th>
                                                                  <th>Saldo Anterior</th>
                                                                  <th>Periodo</th>
                                                                  <th>Estado</th>
                                                                  <th>Total por periodo</th>

                                                              </tr>
                                                  </thead>
                                                  <tbody>
                                                      {% for i in conceptos %}
                                                            {% for j in conceptosfac %}
                                                            {% if i.IdConcepto.pk == j.IdRegistro %}
                                                              <tr class="odd gradeX">
                                                                          <td>{{ j.IdRegistro }}</td>

                                                                          {% if j.AporteFijo > 0 %}
                                                                          <td style="background-color: rgb(150, 211, 241);">${{ j.AporteFijo|intcomma }}</td>
                                                                          {%else%}
                                                                          <td>${{ j.AporteFijo|intcomma }}</td>
                                                                          {%endif%}

                                                                          {% if j.Complementario > 0 %}
                                                                          <td style="background-color: rgb(150, 241, 230);">
                                                                          ${{ j.Complementario|intcomma|intcomma }}</td>
                                                                          {%else%}
                                                                          <td>${{ j.Complementario|intcomma }}</td>
                                                                          {%endif%}

                                                                          {% if j.CuotaMatricula > 0 %}
                                                                          <td style="background-color: rgb(150, 191, 241);">
                                                                          ${{ j.CuotaMatricula|intcomma|intcomma }}</td>
                                                                          {%else%}
                                                                          <td>${{ j.CuotaMatricula|intcomma }}</td>
                                                                          {%endif%}

                                                                          {% if j.Suspencion > 0 %}
                                                                          <td style="background-color: rgb(238, 241, 150);">${{ j.Suspencion|intcomma }}</td>
                                                                          {%else%}
                                                                          <td>${{ j.Suspencion|intcomma }}</td>
                                                                          {%endif%}

                                                                          {% if j.Reconexion > 0 %}
                                                                          <td style="background-color: rgb(238, 241, 150);">${{ j.Reconexion|intcomma }}</td>
                                                                          {%else%}
                                                                          <td>${{ j.Reconexion|intcomma }}</td>
                                                                          {%endif%}

                                                                          {% if j.Recargo > 0 %}
                                                                          <td style="background-color: rgb(251, 198, 106);">${{ j.Recargo|intcomma }}</td>
                                                                          {%else%}
                                                                          <td>${{ j.Recargo|intcomma }}</td>
                                                                          {%endif%}

                                                                          {% if j.Subsidio > 0 %}
                                                                          <td style="background-color: rgb(211, 195, 255);">
                                                                          ${{ j.Subsidio|intcomma|intcomma }}</td>
                                                                          {%else%}
                                                                          <td>${{ j.Subsidio|intcomma }}</td>
                                                                          {%endif%}

                                                                          {% if j.AcuerdoPago > 0 %}
                                                                          <td style="background-color: rgb(102, 255, 153);">
                                                                          ${{ j.AcuerdoPago|intcomma|intcomma }}</td>
                                                                          {%else%}
                                                                          <td>${{ j.AcuerdoPago|intcomma }}</td>
                                                                          {%endif%}

                                                                          {% if j.SaldoAnterior > 0 %}
                                                                          <td style="background-color: rgb(251, 111, 106);">
                                                                          ${{ j.SaldoAnterior|intcomma }}</td>
                                                                          {%else%}
                                                                          <td>${{ j.SaldoAnterior|intcomma }}</td>
                                                                          {%endif%}

                                                                           <td>{{ j.Periodo }}</td>
                                                                          <td>
                                                                            {% if j.Estado == "Vencido" %}
                                                                            <span class="badge bg-warging-lt">Vencido</span>&nbsp;
                                                                            {% elif j.Estado == "Pago" %}
                                                                             <span class="badge bg-success-lt">Pago</span>&nbsp;
                                                                            {% elif j.Estado == "Abono" %}
                                                                            <span class="badge bg-purple-lt">Anulada</span>&nbsp;
                                                                            {%else%}
                                                                            <span class="badge bg-indigo-lt">Pendiente</span>&nbsp;
                                                                            {% endif %}


                                                                          </td>
                                                                          <td style="color:rgba(250, 0, 53); font-size: 1rem;">${{ j.Total|intcomma }}</td>
                                                                         
                                                              </tr>
                                                              {% else %}
                                                              <!-- pagos registrados por factura -->
                                                              {% endif %}
                                                          {% endfor %}
                                                      {% endfor %}
                                                  </tbody>
                                              </table>
                        </div>
                    </div>
                    <div class="card mb-2">
                            <div class="card-body">
                                <div class="">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            
                                        </div>
                                        <div class="col-sm-2">
                                            Total a pagar: <p style="color:rgba(65,160,39); font-size: 1.5rem;n"><b>${{total|intcomma}}</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                     <a href="{% url 'usuarios:inicio' %}" style="width:100%; margin-top: 0.2rem;" class="btn btn-primary">Cancelar
                    </a>
            </div>
            <div class="col-sm-6">
                    {% if anulada or paga or vencida == True %}
                    <p></p>
                    {%else%}
                    <a href="#" style="width:100%; margin-top: 0.2rem;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#none">Pagar
                    </a>
                    {%endif%}
            </div>
        </div>        
    </div>
</div>
    <div class="modal modal-blur fade" id="none" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-title">Desea confirmar la transaccion?</div>
            <div>                <form method="post" enctype="multipart/form-data" oninput="resultado.value=parseInt(valor2.value)-parseInt(valor1.value)">
                    {% csrf_token %}
                    <div class="row text-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="form-group">
                                    <label class="form-label">Numero factura</label>
                                    <p style="color:rgba(65,160,39); font-size: 1.3rem;">{{factura}}</p>
                                    <input type ="hidden" name="factura" value="{{factura}}" class="form-control">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4">
                                </div>
                                <div class="col-4">
                                    <div class="form-group text-center">
                                        <label class="form-label">Tipo de pago</label>
                                        <select class="form-select" id="select" name="tipo">
                                            <option value="Total">Total</option>
                                            <option value="Abono">Abono</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div id="miDiv" style="display:none;">
                                <label class="form-label">Ingrese el valor que desea pagar</label>
                                <input type="text" class="form-control" name="concepto" placeholder="Requerido..." >
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-danger" style="width:100%" type="submit">Confirmar transacción</button>
                        </div>  
                    </div>
                    </form></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-indigo me-auto" data-bs-dismiss="modal" style="width:100%">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    // Obtener referencia al select y al div
    var select = document.getElementById("select");
    var div = document.getElementById("miDiv");

    // Agregar un listener para el evento change del select
    select.addEventListener("change", function() {
        // Verificar si se ha seleccionado una opción válida
        if (select.value !== "") {
            // Mostrar el div
            div.style.display = "block";
        } else {
            // Ocultar el div si no se ha seleccionado ninguna opción válida
            div.style.display = "none";
        }
    });
</script>
{% endblock %}