{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{%block title %} <title>Modulo - VOR</title> {%endblock%}
{% load humanize %}
{% block content %}
	{% include 'usuarios/alerts.html' %}
      <div class="page-wrapper">
        <div class="container-fluid">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Modulo
                </div>
                <h2 class="page-title">
                  Informacion orden de reconexion
                </h2>
              </div>
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <div class="col-auto">
                        <a href="{% url 'usuarios:reconexiones' %}" class="btn btn-primary btn-sm w-100">
                                      Volver</a>
                    </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        	<div class="page-body">
            <div class="container-xl">
              <div class="row row-cards">
              
                      <div class="col-md-6 col-lg-7">
                        <div class="card">
                          <div class="card-body">
                          	{% for estados in otr %}
                              <dl class="row">
                                <h3 class="subheader">Informacion de la orden de trabajo</h3>
                                  <dt class="col-5">No orden:</dt>
                                  <dd class="col-7">{{ estados.IdOrden }}</dd>
                                  <dt class="col-5">Deuda:</dt>
                                  <dd class="col-7">${{ estados.Deuda|intcomma}}</dd>
                                  <dt class="col-5">Generado:</dt>
                                  <dd class="col-7">{{ estados.Generado }}</dd>
                                  <dt class="col-5">Estado:</dt>
                                  <dd class="col-7">{{ estados.Estado }}<dd>
                                  <dt class="col-5">Usuario:</dt>
                                  <dd class="col-7">{{ estados.UsuarioEjecuta }}</dd>
                                  <dt class="col-5">Fecha de registro:</dt>
                                  <dd class="col-7">{{ estados.FechaExpe }}</dd>
                                  <dt class="col-5">Fecha de ejecuacion:</dt>
                                  <dd class="col-7">{{ estados.FechaEjecucion }}</dd>
                                  <dt class="col-5">Direccion:</dt>
                                  <dd class="col-7">{{ estados.IdEstadoCuenta }}</dd>
                              </dl>
              				{%endfor%}  
                            </div>
                          </div>

                        </div>
                        <div class="col-md-6 col-lg-5">
                        	<div class="row">
                        	</div>
                          	<div class="card">
	                            <div class="card-body">
	                               <h3 class="subheader">Opciones disponibles</h3>
	                               <div class="row">
	                               		<div class="col-4">
	                               			
	                               		</div>
	                               		<div class="col-4">
	                               			<form method="post" role="form" enctype="multipart/form-data">
												{% csrf_token %}
												<button type="submit" class="btn btn-primary">Cerrar orden</button>
											</form>  
	                          
	                               		</div>
	                               		<div class="col-4">
	                               			
	                               		</div>
	                               </div>
	                               
								</div>
							</div>
	                    </div>                                   
            </div>
            </div>
          </div>
        	
        </div>






{% endblock %}
{% block scripts %}
{% endblock %}