{% extends 'usuarios/base_usuario3.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{% load humanize %}
{%block title %} <title>Modulo - VIP</title> {%endblock%}
{% block content %}
{% include 'usuarios/alerts.html' %}

<div class="page-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <h3 class="subheader">Informacion del predio</h3>
              <div class="col-auto" style="margin-top: 0.5rem">
                <div class="card" href="#">
                  {% if estado == "Operativo" %}
                  <div class="ribbon ribbon-top ribbon-bookmark bg-green" title="{{estado}}">
                    <!-- Download SVG icon from http://tabler-icons.io/i/checks -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12l5 5l10 -10" /><path d="M2 12l5 5m5 -5l5 -5" /></svg>
                  </div>
                  {% elif estado == "Instalacion" %}
                  <div class="ribbon ribbon-top ribbon-bookmark bg-grey" title="{{estado}}">
                    <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                   <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                  </div>
                   {% elif estado == "Retirado" %}
                   <div class="ribbon ribbon-top ribbon-bookmark bg-red" title="{{estado}}">
                   <!-- Download SVG icon from http://tabler-icons.io/i/letter-r -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 20v-16h5.5a4 4 0 0 1 0 9h-5.5" /><line x1="12" y1="13" x2="17" y2="20" /></svg>
                  </div>
                  {%else%}
                  <div class="ribbon ribbon-top ribbon-bookmark bg-orange" title="{{estado}}">
                  <!-- Download SVG icon from http://tabler-icons.io/i/letter-s -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 8a4 4 0 0 0 -4 -4h-2a4 4 0 0 0 0 8h2a4 4 0 0 1 0 8h-2a4 4 0 0 1 -4 -4" /></svg>
                  </div>
                  {%endif%}
                  <div class="card-cover card-cover-blurred text-center" style="background-image: url({% static 'images/18.jpg' %})">
                    <span class="avatar avatar-xl avatar-thumb avatar-rounded" style="background-image: url({% static 'images/logo4.png' %})"></span>
                  </div>
                  <div class="card-body text-center">
                    <div class="card-title mb-1">{{ matricula }}</div>
                    {% for vivienda in viviendainfo %}
                    <div class="row">
                          <dt class="col-4">Sector:</dt>
                          <dd class="col-8">{{ vivienda.sectores}}</dd>
                          <dt class="col-4">Casa:</dt>
                          <dd class="col-8">{{ vivienda.NumeroCasa}}</dd>
                          {% if vivienda.Piso == "0" %}
                          <div></div>
                          {%else%}
                          <dt class="col-4">Piso:</dt>
                          <dd class="col-8">{{ vivienda.Piso}}</dd>
                          {%endif%}
                          <dt class="col-4">Tipo:</dt>
                          <dd class="col-8">{{ vivienda.TipoInstalacion}}</dd>
                    </div>
                    {%endfor%}
                  </div>

                </div>
              </div>
              <br>
              <h3 class="subheader">Titular</h3>
            <div class="row">
                              
                <a class="card card-link" href="{% url 'usuarios:verpropietario' propietario.IdPropietario %}">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-auto">
                        <span class="avatar rounded" style="background-image: url({% static 'images/logo3.png' %})"></span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">{{ propietario }}</div>
                      </div>
                    </div>
                  </div>
                </a>
            </div>
            <br>
          <h3 class="subheader">Opciones disponibles</h3>

          <div class="row">
            <div class="col-md-12">
               <a href="{% url 'usuarios:cambiotitular' matricula %}" class="btn btn-primary btn-sm btn-block w-100">Cambiar propietario</a>
            </div>
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="{% url 'usuarios:asignarsubsidio' matricula %}" class="btn btn-primary btn-sm btn-block w-100">Asignar subsidio</a>
            </div>
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="{% url 'usuarios:novedadretiro' matricula %}" class="btn btn-primary btn-sm btn-block w-100">Generar retiro</a>
            </div>

            {% if asignado is True %}
            <div class="col-md-12" style="margin-top: 0.5rem">
               <a href="{% url 'usuarios:verconsumo' matricula %} " class="btn btn-primary btn-sm btn-block w-100">Consumos</a>
            </div>
            {%endif%}

          </div>
      </div>
      <div class="col-md-10">
        <div class="row">
           <div class="col-md-12">
                  <div class="card">
                  <ul class="nav nav-tabs" data-bs-toggle="tabs">
                    <li class="nav-item">
                      <a href="#tabs-home-9" class="nav-link active" data-bs-toggle="tab"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                        Inicio</a>
                    </li>
                     <li class="nav-item">
                      <a href="#facturas" class="nav-link" data-bs-toggle="tab"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                        Facturas</a>
                    </li>
                    <li class="nav-item">
                      <a href="#ordenes" class="nav-link" data-bs-toggle="tab"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                        Ordenes</a>
                    </li>
                    <li class="nav-item">
                      <a href="#tabs-profile-11" class="nav-link" data-bs-toggle="tab"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                        Novedades</a>
                    </li>
  
                    <li class="nav-item">
                      <a href="#tabs-profile-10" class="nav-link" data-bs-toggle="tab"><!-- Download SVG icon from http://tabler-icons.io/i/user -->
                        <!-- Download SVG icon from http://tabler-icons.io/i/file-invoice -->
  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><line x1="9" y1="7" x2="10" y2="7" /><line x1="9" y1="13" x2="15" y2="13" /><line x1="13" y1="17" x2="15" y2="17" /></svg>
                        Conceptos facturados</a>
                    </li>
                    <li class="nav-item">
                      <a href="#tabs-profile-14" class="nav-link" data-bs-toggle="tab"><!-- Download SVG icon from http://tabler-icons.io/i/user -->
                       <!-- Download SVG icon from http://tabler-icons.io/i/file-report -->
  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="17" cy="17" r="4" /><path d="M17 13v4h4" /><path d="M12 3v4a1 1 0 0 0 1 1h4" /><path d="M11.5 21h-6.5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v2m0 3v4" /></svg>
                        Acuerdos de pago</a>
                    </li>
                  </ul>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active show" id="tabs-home-9">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="row">
                              <h3 class="subheader">Informacion adicional</h3>
                              {% for vivienda in viviendainfo %}
                                  <div class="row">
                                    <div class="col-md-12">
                                      <dl class="row">
                                            <dt class="col-5">Cant predios:</dt>
                                            <dd class="col-7">{{vivienda.CantPredios}}</dd>
                                            <dt class="col-5">Ciclo:</dt>
                                            <dd class="col-7">{{vivienda.ciclos}}</dd>
                                            <dt class="col-5">Estrato:</dt>
                                            <dd class="col-7">{{vivienda.Estrato}}</dd>
                                            <dt class="col-5">Habitantes:</dt>
                                            <dd class="col-7">{{ vivienda.CantHabitantes}}</dd>
                                            <dt class="col-5">Ficha catastral:</dt>
                                            <dd class="col-7">{{ vivienda.FichaCastral}}</dd>
                                            <dt class="col-5">Acometida:</dt>
                                            <dd class="col-7">{{ vivienda.ProfAcometida }}</dd>
                                            <dt class="col-5">Diametro:</dt>
                                            <dd class="col-7">{{ vivienda.Diametro}}</dd>
                                            <dt class="col-5">ID anterior:</dt>
                                            <dd class="col-7">{{vivienda.MatriculaAnt}}</dd>
                                            <dt class="col-5">Clasificacion:</dt>
                                            <dd class="col-7">{{ vivienda.InfoInstalacion}}</dd>
                                             <dt class="col-5">Tipo de aporte:</dt>
                                            <dd class="col-7">{{ vivienda.TipoRecaudo}}</dd>
                                            <dt class="col-5">Subsidio:</dt>
                                            <dd class="col-7">{{ vivienda.Subsidio}}</dd>
                                            <dt class="col-5">Fecha de registro:</dt>
                                            <dd class="col-7">{{vivienda.FechaIngreso}}</dd>
                                            <dt class="col-5">Fecha de actualizacion:</dt>
                                            <dd class="col-7">{{vivienda.FechaActualizacion}}</dd>
                                      </dl>
                                  </div>
                                </div>
                                {% endfor %}
                              
                              </div>
                              <br>
                              <div class="row">
                                 {% if vsubsidio is True %}
                                 <img src="{% static 'images/comuni.jpeg' %}" alt="Descripción de la imagen">
                                
                                {%else%}
                                <div></div>
                                {%endif%}
                              </div>
                            </div>
                            <div class="col-md-3">
                                <h3 class="subheader">Estado de cuenta</h3>
              <div class="card card-sm">

                    <div class="card-body">
                        <table class="table table-transparent table-responsive">
                                              <thead>
                                                <tr>
                                                  <th>Estado</th>
                                                  <th class="text-end" style="width: 1%">Valor</th>
                                                </tr>
                                              </thead>
                                              <tr>
                                                <tr>
                                                <td>
                                                  <p class="strong mb-1">Facturado</p>
                                                </td>
                                                <td class="text-end"> ${{ aportes|intcomma }}</td>
                                              </tr>
                                              <tr>
                                                <tr>
                                                <td>
                                                  <p class="strong mb-1">Sin facturar</p>
                                                </td>
                                                <td class="text-end"> ${{ aportes2|intcomma }}</td>
                                              </tr>
                                              <tr>
                                              <tr>
                                                <td colspan="1" class="font-weight-bold text-uppercase text-end"><b>Total</b></td>
                                                <td class="font-weight-bold text-end">${{total|intcomma}}</td>
                                              </tr>
                                            </table>
                                        </div>
                                         {% if filtro is True %}
                                    
                                      <div class="card-body">
                                        <div class="row align-items-center">
                                          <div class="col-auto">
                                            <span class="bg-red text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                                                                  <!-- Download SVG icon from http://tabler-icons.io/i/scissors -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="6" cy="7" r="3" /><circle cx="6" cy="17" r="3" /><line x1="8.6" y1="8.6" x2="19" y2="19" /><line x1="8.6" y1="15.4" x2="19" y2="5" /></svg>
                                            </span>
                                          </div>
                                          <div class="col">
                                            <div class="font-weight-medium">
                                                                  Con orden de suspención
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    {% else %}
                                                            {% if total <= 0 %}
                                                            
                                                              <div class="card-body">
                                                                <div class="row align-items-center">
                                                                  <div class="col-auto">
                                                                    <span class="bg-green text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/checks -->
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12l5 5l10 -10" /><path d="M2 12l5 5m5 -5l5 -5" /></svg>
                                                                    </span>
                                                                  </div>
                                                                  <div class="col">
                                                                    <div class="font-weight-medium">
                                                                    Al dia - Sin novedad
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            
                                                            {% else %}
                                            
                                              <div class="card-body">
                                                <div class="row align-items-center">
                                                  <div class="col-auto">
                                                    <span class="bg-orange text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/alert-octagon -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8.7 3h6.6c.3 0 .5 .1 .7 .3l4.7 4.7c.2 .2 .3 .4 .3 .7v6.6c0 .3 -.1 .5 -.3 .7l-4.7 4.7c-.2 .2 -.4 .3 -.7 .3h-6.6c-.3 0 -.5 -.1 -.7 -.3l-4.7 -4.7c-.2 -.2 -.3 -.4 -.3 -.7v-6.6c0 -.3 .1 -.5 .3 -.7l4.7 -4.7c.2 -.2 .4 -.3 .7 -.3z" /><line x1="12" y1="8" x2="12" y2="12" /><line x1="12" y1="16" x2="12.01" y2="16" /></svg>
                                                    </span>
                                                  </div>
                                                  <div class="col">
                                                    <div class="font-weight-medium">
                                                      Con pagos pendientes
                                                    </div>
                                                  </div>
                                                </div>
                                               </div>
                                            
                                        {% endif %}
                                    {% endif %}
                                      </div>

                                   
                                <br>
                                <h3 class="subheader">Ultima factura</h3>
                                {% for factura in facturasemi %}
                                <div class="card card-link" href="">
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="row">                                    
                                          <div class="col-auto">
                                        <span class="avatar rounded">F</span>
                                      </div>
                                      <div class="col">
                                        <div class="font-weight-medium">{{ factura.IdFactura }}</div>
                                        <div class="text-muted">{{ factura.IdCiclo }}</div>
                                      </div>
                                      <div class="col">
                                          {% if factura.Estado == "Vencida" %}
                                            <span class="badge bg-warging-lt">Vencida</span>&nbsp;
                                            {% elif factura.Estado == "Paga" %}
                                             <span class="badge bg-success-lt">Paga</span>&nbsp;
                                             {% elif factura.Estado == "Anulada" %}
                                            <span class="badge bg-purple-lt">Anulada</span>&nbsp;
                                            {% else %}
                                            <span class="badge bg-info-lt">Emitida</span>
                                            {% endif %}
                                      </div>
                                        </div>

                                      </div>
                                      
                                    </div>
                                    <br>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <a class="btn btn-primary btn-sm btn-block" style="width:100%" href="{% url 'usuarios:descargarfactura' factura.IdFactura %}"> <span>Descargar</span></a>
                                      </div>
                                      <div class="col-md-6">
                                        {% if factura.Estado == "Paga" %}
                                          <div></div>
                                          {% else %}
                                          <a class="btn btn-primary btn-sm btn-block" style="width:100%" href="{% url 'usuarios:verfactura' %}?factura={{ factura.IdFactura }}">Pagar</a>
                                          {% endif %}
                                        
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                {% endfor %}
                                <br>
                                <h3 class="subheader">Ultimo pago</h3>
                                {%for filtropago in ultimopago %}
                                  <a class="card card-link" href="{% url 'usuarios:imprimirpago' filtropago.IdPago %}">
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-auto">
                                        <span class="avatar rounded">F</span>
                                      </div>
                                      <div class="col">
                                        <div class="font-weight-medium">{{ filtropago.IdPago }}</div>
                                        <div class="text-muted">{{filtropago.FechaPago|date:"d/m/Y"}}</div>
                                      </div>
                                      <div class="col">
                                          <span class="badge bg-warging-lt">${{ filtropago.ValorPago|intcomma }}</span>&nbsp;
                                      </div>
                                    </div>
                                  </div>
                                </a>
                                {% endfor %}

                            </div>
                            <div class="col-md-6">
                              <div class="row">
                                {% if asignado is True %}
                                 <h3 class="subheader">Comportamiento del consumo - ULTIMOS 6 MESES</h3>
                                <div class="col-md-12">
                                                  <div class="card">
                    <div class="card-body">
                      <div id="chart-temperature"></div>
                    </div>
                  </div>
                                  </div>
                                {%else%}
                                <img src="{% static 'images/mantenimiento2.jpg' %}" alt="Descripción de la imagen">
                                {%endif%}
                              </div>
                              <br>

                            </div>
                          </div>
                          <br>
                      </div>
                      <div class="tab-pane" id="facturas">
                        <div>
                                       <div class="text-center table-responsive" style="height:40rem ">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                                    <tr>
                                        <th>No factura</th>
                                        <th>Periodo</th>
                                        <th>Estado</th>
                                        <th>Vencidas</th>
                                        <th>Fecha expedición</th>
                                         <th>Total a pagar</th>
                                         <th>Observaciones</th>
                                    </tr>
                        </thead>
                        <tbody>
                            {% for factura in facturas %}
                                <tr class="odd gradeX">
                                            <td><a href="{% url 'usuarios:descargarfactura' factura.IdFactura %}">{{ factura.IdFactura }}</a></td>
                                            <td>{{ factura.IdCiclo }}</td>
                                            <td>
                                              {% if factura.Estado == "Vencida" %}
                                                    <span class="badge bg-danger-lt">Vencida</span>
                                                    {% elif factura.Estado == "Paga" %}
                                                    <span class="badge bg-success-lt">Paga</span>
                                                    {% elif factura.Estado == "Anulada" %}
                                                    <span class="badge bg-warging-lt">Paga</span>
                                                    {% else %}
                                                    <span class="badge bg-info-lt">Emitida</span>
                                                    {% endif %}
                                            </td>
                                            <td>{{ factura.facturasvencidas }}</td>
                                           <td>{{ factura.FechaExpe|date:"d/m/Y" }}</td>
                                           <td>${{ factura.Total|intcomma }}</td>
                                           <td>
                                            {% for pago in pagos %}
                                            {% if factura.IdFactura == pago.IdFactura.pk %}
                                              <div class="dropdown">
                                                  <button class="btn btn-sm btn-indigo btn-pill w-100 dropdown-toggle align-text-top" data-bs-toggle="dropdown">
                                                    Pago
                                                  </button>
                                                  <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="{% url 'usuarios:imprimirpago' pago.IdPago %}">
                                                      {{ pago.IdPago }}
                                                      <div class="row text-center">
                                                      <dt class="col-12">Fecha de pago:</dt>
                                                      <dd class="col-12">{{ pago.FechaPago|date:"d/m/Y" }}</dd>
                                                      <dt class="col-12">Valor pago:</dt>
                                                      <dd class="col-12">{{ pago.ValorPago }}</dd>
                                                      </div>
                                                    </a>
                                                  </div>
                                                </div>
                                              {% endif %}
                                              {% endfor %}
                                            </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="ordenes">
                        <div>
                          <div class="text-center table-responsive" style="height:40rem">
                                              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                  <thead>
                                                              <tr>
                                                                  <th>No orden</th>
                                                                  <th>Valor</th>
                                                                  <th>Estado</th>
                                                                  <th>Tipo de orden</th>
                                                                  <th>Fecha expedicion</th>
                                                                  <th>Fecha ejecucion</th>
                                                                  <th>Opciones</th>
                                                              </tr>
                                                  </thead>
                                                  <tbody>
                                                      {% for ord in suspenciones %}
                                                          <tr class="odd gradeX">
                                                                      <td>{{ ord.IdOrden }}</td>
                                                                      <td>${{ ord.Deuda|intcomma }}</td>
                                                                      <td>{% if ord.Estado == "Pendiente" %}
                                                                            <span class="badge bg-danger-lt">Pendiente</span>
                                                                            {% elif ord.Estado == "Ejecutada" %}
                                                                            <span class="badge bg-success-lt">Ejecutada</span>
                                                                            {% else %}
                                                                            <span class="badge bg-info-lt">Anulada</span>
                                                                            {% endif %}</td>
                                                                      <td>{{ ord.TipoNovedad }}</td>
                                                                      <td>{{ ord.FechaExpe|date:"d/m/Y" }}</td>
                                                                      <td>{{ ord.FechaEjecucion|date:"d/m/Y" }}</td>
                                                                      <td><a class="btn btn-sm btn-indigo btn-pill w-100" href="{% url 'usuarios:verordensus' ord.IdOrden %}">
                                                              Ver</a></td>
                                                          </tr>
                                                      {% endfor %}
                                                  </tbody>
                                              </table>
                                          </div>  
                        </div>
                      </div>
                      <div class="tab-pane" id="tabs-profile-11">
                        <div>
                            <div class="text-center table-responsive" style="height:80%">
                                              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                  <thead>
                                                              <tr>
                                                                  <th>No registro</th>
                                                                  <th>Tipo novedad</th>
                                                                  <th>Fecha registro</th>
                                                                  <th>Descripcion</th>
                                                              </tr>
                                                  </thead>
                                                  <tbody>
                                                      {% for i in novedades %}
                                                          <tr class="odd gradeX">
                                                                      <td>{{ i.IdNovedad }}</td>
                                                                      <td>{{ i.TipoNovedad }}</td>
                                                                      <td>{{ i.Fecha|date:"d/m/Y" }}</td>
                                                                      <td>{{ i.Descripcion}}</td>
                                                          </tr>
                                                      {% endfor %}
                                                  </tbody>
                                              </table>
                                          </div> 
                        </div>
                      </div>

                      <div class="tab-pane" id="tabs-profile-10">
                        <div class="text-center table-responsive" style="height:80%">
                                              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                  <thead>
                                                              <tr>
                                                                  <th>No registro</th>
                                                                  <th>Aporte Fijo</th>
                                                                  <th>Basico</th>
                                                                  <th>Complementario</th>
                                                                  <th>Suspencion</th>
                                                                  <th>Reconexion</th>
                                                                  <th>Recargo</th>
                                                                  <th>Acuerdo pago</th>
                                                                  <th>Subsidio</th>
                                                                  <th>Saldo anterior</th>
                                                                  <th>Total</th>
                                                                  <th>Fecha</th>
                                                                  <th>Estado</th>
                                                                  <th>Periodo</th>

                                                              </tr>
                                                  </thead>
                                                  <tbody>
                                                      {% for i in conceptosfacturados %}
                                                          <tr class="odd gradeX">
                                                                      <td>{{ i.IdRegistro }}</td>

                                                                      {% if i.AporteFijo > 0 %}
                                                                      <td style="background-color: rgb(150, 211, 241);">${{ i.AporteFijo|intcomma }}</td>
                                                                      {%else%}
                                                                      <td>${{ i.AporteFijo|intcomma }}</td>
                                                                      {%endif%}

                                                                      <td>${{ i.Basico|intcomma }}</td>
                                                                      <td>${{ i.Complementario|intcomma }}</td>
                                                                      <td>${{ i.Suspencion|intcomma }}</td>
                                                                      <td>${{ i.Reconexion|intcomma }}</td>
                                                                      
                                                                      {% if i.Recargo > 0 %}
                                                                      <td style="background-color: rgb(251, 198, 106);">${{ i.Recargo|intcomma }}</td>
                                                                      {%else%}
                                                                      <td>${{ i.Recargo|intcomma }}</td>
                                                                      {%endif%}
                                                                      

                                                                      <td>${{ i.AcuerdoPago|intcomma}}</td>
                                                                      <td>$-{{ i.Subsidio|intcomma }}</td>

                                                                      {% if i.SaldoAnterior > 0 %}
                                                                      <td style="background-color: rgb(251, 111, 106);">
                                                                      ${{ i.SaldoAnterior|intcomma }}</td>
                                                                      {%else%}
                                                                      <td>${{ i.SaldoAnterior|intcomma }}</td>
                                                                      {%endif%}

                                                                      {% if i.Total > 0 %}
                                                                      <td style="background-color: rgb(102, 255, 153);">
                                                                      ${{ i.Total|intcomma|intcomma }}</td>
                                                                      {%else%}
                                                                      <td>${{ i.Total|intcomma }}</td>
                                                                      {%endif%}
                                                                      
                                                                      <td>{{ i.Fecha|date:"d/m/Y" }}</td>
                                                                      <td>
                                                                        {% if i.Estado == "Vencido" %}
                                                                            <span class="badge bg-warging-lt">Vencido</span>&nbsp;
                                                                            {% elif i.Estado == "Pago" %}
                                                                             <span class="badge bg-success-lt">Pago</span>&nbsp;
                                                                            {% elif i.Estado == "Abono" %}
                                                                            <span class="badge bg-purple-lt">Abono</span>&nbsp;
                                                                            {%else%}
                                                                            <span class="badge bg-indigo-lt">Pendiente</span>&nbsp;
                                                                            {% endif %}

                                                                      </td>
                                                                      <td>{{ i.Periodo }}</td>
                                                          </tr>
                                                      {% endfor %}
                                                  </tbody>
                                              </table>
                                          </div> 
                      </div>
                      <div class="tab-pane" id="tabs-profile-14">
                        <div class="text-center table-responsive" style="height:80%">
                                              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                  <thead>
                                                              <tr>
                                                                  <th>No registro</th>
                                                                  <th>Tipo</th>
                                                                  <th>Estado</th>
                                                                  <th>Valor financiado</th>
                                                                  <th>Cantidad cuotas</th>
                                                                  <th>Valor pendiente</th>
                                                                  <th>Cuotas Pendientes</th>
                                                                  <th>Valor Cuotas</th>
                                                                  <th>Fecha</th>
                                                                  <th>Descripcion</th>
                                                              </tr>
                                                  </thead>
                                                  <tbody>
                                                      {% for i in acuerdos %}
                                                          <tr class="odd gradeX">
                                                                      <td>{{ i.IdAcuerdo }}</td>
                                                                      <td style="background-color: rgb(150, 211, 241);">{{ i.Tipo }}</td>
                                                                      <td>
                                                                        {% if i.Estado == "Pendiente" %}
                                                                            <span class="badge bg-warging-lt">Pendiente</span>&nbsp;
                                                                            {% elif i.Estado == "Pago" %}
                                                                             <span class="badge bg-success-lt">Pago</span>&nbsp;
                                                                            {% endif %}
                                                                      </td>
                                                                      <td>${{ i.Valor|intcomma }}</td>
                                                                      <td>{{ i.CantCuotas }}</td>
                                                                      <td>${{ i.ValorPendiente|intcomma }}</td>
                                                                      <td>{{ i.CuotasPendientes }}</td>
                                                                      <td>${{ i.Cuota|intcomma }}</td>
                                                                      <td>{{ i.FechaExpe|date:"d/m/Y" }}</td>
                                                                      <td>{{ i.Descripcion }}</td>
                                                          </tr>
                                                      {% endfor %}
                                                  </tbody>
                                              </table>
                                          </div> 
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
</div>

{% endblock %}
{% block scripts %}
    <script>
      const etiquetas = {{ labels|safe }};  // Datos de etiquetas
      const valores = {{data|safe }};      // Datos de valores
      // @formatter:off
      document.addEventListener("DOMContentLoaded", function () {
        window.ApexCharts && (new ApexCharts(document.getElementById('chart-temperature'), {
          chart: {
            type: "line",
            fontFamily: 'inherit',
            height: 240,
            parentHeightOffset: 0,
            toolbar: {
              show: false,
            },
            animations: {
              enabled: false
            },
          },
          fill: {
            opacity: 1,
          },
          stroke: {
            width: 2,
            lineCap: "round",
            curve: "smooth",
          },
          series: [{
            name: "Tope",
            data: [20, 20, 20, 20, 20, 20]
          },{
            name: "Consumo",
            data: valores,
          }],
          grid: {
            padding: {
              top: -20,
              right: 0,
              left: -4,
              bottom: -4
            },
            strokeDashArray: 4,
          },
          dataLabels: {
            enabled: true,
          },
          xaxis: {
            labels: {
              padding: 0,
            },
            tooltip: {
              enabled: false
            },
            categories: etiquetas,
          },
          yaxis: {
            labels: {
              padding: 4
            },
          },
          colors: ["#ba0300", "#5eba00"],
          legend: {
            show: false,
          },
          markers: {
            size: 2
          },
        })).render();
      });
      // @formatter:on
    </script>
{% endblock %}